[Desktop Entry]
Name=KBanking
Name[pt]=KBanking
Name[sv]=Kbank
Name[tr]=KBanking
Name[uk]=KBanking
Name[x-test]=xxKBankingxx
Comment=Add online banking to KMyMoney
Comment[pt]=Adicionar a banca 'online' ao KMyMoney
Comment[sv]=Lägg till Internetbank till Kmymoney
Comment[tr]=KMyMoney uygulamasına çevrimiçi bankacılık özelliği ekle
Comment[uk]=Додає можливість роботи з банками за допомогою мережі до KMyMoney
Comment[x-test]=xxAdd online banking to KMyMoneyxx
ServiceTypes=KMyMoneyPlugin
Type=Service
Icon=network-connect
X-KDE-Library=kmm_kbanking
X-KDE-PluginInfo-Name=KBanking
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
