[Desktop Entry]
Name=Configure icalendar export plugin
Name[x-test]=xxConfigure icalendar export pluginxx
Icon=x-office-calendar
Type=Service
ServiceTypes=KCModule
Exec=kcmshell4 kmm_icalendarexport
Categories=QT;KDE;kmymoney;
Keywords=icalendar;kmymoney
Keywords[x-test]=xxicalendar;kmymoneyxx
X-KDE-Library=kcm_kmm_icalendarexport
X-KDE-ParentApp=iCalendar
X-KDE-ParentComponents=iCalendar
Comment=Permits the configuration of the iCalendar plugin's options
Comment[x-test]=xxPermits the configuration of the iCalendar plugin's optionsxx
