[Desktop Entry]
Name=Configure icalendar export plugin
Icon=x-office-calendar
Type=Service
ServiceTypes=KCModule
Exec=kcmshell4 kmm_icalendarexport
Categories=Qt;KDE;kmymoney;
Keywords=icalendar;kmymoney;
X-KDE-Library=kcm_kmm_icalendarexport
X-KDE-ParentApp=iCalendar
X-KDE-ParentComponents=iCalendar
Comment=Permits the configuration of the iCalendar plugin's options
