[Desktop Entry]
Encoding=UTF-8
Name=iCalendar
Name[da]=iCalendar
Name[el]=iCalendar
Name[en_GB]=iCalendar
Name[eo]=iCalendar
Name[et]=iCalendar
Name[fr]=iCalendar
Name[pt]=iCalendar
Name[pt_BR]=iCalendar
Name[sv]=iCalendar
Name[tr]=iCalendar
Name[uk]=iCalendar
Name[x-test]=xxiCalendarxx
Comment=Exports schedules to iCalendar files
Comment[da]=Eksporterer skemaer til iCalendar-filer
Comment[el]=Εξαγωγή χρονοδιαγραμμάτων σε αρχεία iCalendar
Comment[en_GB]=Exports schedules to iCalendar files
Comment[et]=Ajakavade eksport iCalendari failidena
Comment[fr]=Exporte les rendez-vous dans des fichiers iCalendar
Comment[pt]=Exporta as calendarizações para os ficheiros iCalendar
Comment[pt_BR]=Exporta os agendamentos para os arquivos iCalendar
Comment[sv]=Exporterar scheman till iCalendar-filer
Comment[tr]=Zamanlamaları iCalendar dosyalarına aktarır
Comment[uk]=Експортує розклади до файлів iCalendar
Comment[x-test]=xxExports schedules to iCalendar filesxx
Type=Service
Icon=x-office-calendar
ServiceTypes=KMyMoneyPlugin
X-KDE-Library=kmm_icalendarexport
X-KDE-PluginInfo-Author=Cristian Oneț
X-KDE-PluginInfo-Email=onet.cristian@gmail.com
X-KDE-PluginInfo-Name=iCalendar
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}-${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney2.sourceforge.net/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
