[Desktop Entry]
Name=iCalendar
Name[bs]=iCalendar
Name[ca]=iCalendar
Name[ca@valencia]=iCalendar
Name[cs]=iCalendar
Name[da]=iCalendar
Name[de]=iCalendar
Name[el]=iCalendar
Name[en_GB]=iCalendar
Name[es]=iCalendar
Name[et]=iCalendar
Name[eu]=iCalendar
Name[fi]=iCalendar
Name[fr]=iCalendar
Name[ga]=iCalendar
Name[gl]=iCalendar
Name[hu]=iCalendar
Name[ia]=iCalendar
Name[it]=iCalendar
Name[kk]=iCalendar
Name[ko]=iCalendar
Name[nds]=iCalendar
Name[nl]=iCalendar
Name[pl]=iCalendar
Name[pt]=iCalendar
Name[pt_BR]=iCalendar
Name[ro]=iCalendar
Name[ru]=iCalendar
Name[sk]=iCalendar
Name[sv]=iCalendar
Name[tr]=iCalendar
Name[ug]=iCalendar
Name[uk]=iCalendar
Name[x-test]=xxiCalendarxx
Name[zh_CN]=iCalendar
Name[zh_TW]=iCalendar
Comment=Exports schedules to iCalendar files
Comment[bs]=Izvozi rasporede u iCalendar datoteke
Comment[ca]=Exporta les programacions als fitxers de l'iCalendar
Comment[ca@valencia]=Exporta les programacions als fitxers de l'iCalendar
Comment[da]=Eksporterer skemaer til iCalendar-filer
Comment[de]=Exportiert geplante Buchungen in iCalendar-Dateien
Comment[el]=Εξαγωγή ημερολογίων σε αρχεία iCalendar
Comment[en_GB]=Exports schedules to iCalendar files
Comment[es]=Exporta programaciones a archivos de iCalendar
Comment[et]=Ajakavade eksport iCalendari failidena
Comment[eu]=Programazioak iCalendar-en fitxategietara esportatzen ditu
Comment[fi]=Vie aikataulut iCalendar-tiedostoihin
Comment[fr]=Exporte des calendriers dans des fichiers « iCalendar »
Comment[gl]=Exporta planificacións a ficheiros iCalendar
Comment[hu]=Exportálja az időbeosztásokat iCalendar fájlokba
Comment[it]=Esporta pianificazioni in file iCalendar
Comment[kk]=Кестелерін iCalendar файлдарына экспорттау
Comment[ko]=iCalendar 파일로 일정 내보내기
Comment[nds]=Planen as iCalendar-Dateien exporteren
Comment[nl]=Exporteert planningen naar iCalender bestanden
Comment[pl]=Eksportuje harmonogramy do plików iCalendar
Comment[pt]=Exporta os calendários para ficheiros iCalendar
Comment[pt_BR]=Exporta os calendários para arquivos iCalendar
Comment[ro]=Exportă tranzacțiile programate în fișiere iCalendar
Comment[ru]=Экспорт плана платежей в файл iCalendar
Comment[sk]=Exportovať rozvrhy do súborov iCalendar
Comment[sv]=Exporterar scheman till iCalendar-filer
Comment[tr]=Zamanlamaları iCalendar dosyalarına aktarır
Comment[uk]=Експортує розклади до файлів iCalendar
Comment[x-test]=xxExports schedules to iCalendar filesxx
Comment[zh_TW]=匯出排程到 iCalendar 檔
Type=Service
Icon=x-office-calendar
ServiceTypes=KMyMoneyPlugin
X-KDE-Library=kmm_icalendarexport
X-KDE-PluginInfo-Author=Cristian Oneț
X-KDE-PluginInfo-Email=onet.cristian@gmail.com
X-KDE-PluginInfo-Name=iCalendar
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney.org/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
