[Desktop Entry]
Name=iCalendar
Name[es]=iCalendar
Name[nl]=iCalendar
Name[pt]=iCalendar
Name[sk]=iCalendar
Name[uk]=iCalendar
Name[x-test]=xxiCalendarxx
Comment=Exports schedules to iCalendar files
Comment[nl]=Exporteert planningen naar iCalender bestanden
Comment[pt]=Exporta os calendários para ficheiros iCalendar
Comment[sk]=Exportovať rozvrhy do súborov iCalendar
Comment[uk]=Експортує розклади до файлів iCalendar
Comment[x-test]=xxExports schedules to iCalendar filesxx
Type=Service
Icon=x-office-calendar
ServiceTypes=KMyMoneyPlugin
X-KDE-Library=kmm_icalendarexport
X-KDE-PluginInfo-Author=Cristian Oneț
X-KDE-PluginInfo-Email=onet.cristian@gmail.com
X-KDE-PluginInfo-Name=iCalendar
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney.org/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
