[Desktop Entry]
Name=KMyMoney OFX
Name[da]=KMyMoney OFX
Name[de]=KMyMoney OFX
Name[en_GB]=KMyMoney OFX
Name[es]=KMyMoney OFX
Name[eu]=KMyMoney OFX
Name[fr]=OFX KMyMoney
Name[it]=KMyMoney OFX
Name[nds]=KMyMoney-OFX
Name[nl]=KMyMoney OFX
Name[pt]=OFX do KMyMoney
Name[pt_BR]=OFX do KMyMoney
Name[sv]=Kmymoney OFX
Name[uk]=OFX KMyMoney
Name[x-test]=xxKMyMoney OFXxx
Comment=Add OFX importing to KMyMoney
Comment[da]=Føj OFX-import til KMyMoney
Comment[de]=Fügt OFX-Import zu KMyMoney hinzu
Comment[en_GB]=Add OFX importing to KMyMoney
Comment[es]=Añade la importación de OFX a KMyMoney
Comment[eu]=Erantsi OFX inportaketa KMyMoney-ri
Comment[fr]=Ajoute l'importation OFX à KMyMoney
Comment[it]=Aggiungi l'importazione OFX a KMyMoney
Comment[nl]=Voeg OFX importeren toe aan KMyMoney
Comment[pt]=Adiciona a importação de OFX ao KMyMoney
Comment[pt_BR]=Adiciona a importação de OFX ao KMyMoney
Comment[sv]=Lägg till OFX-import till Kmymoney
Comment[uk]=Додає можливість імпортування OFX до KMyMoney
Comment[x-test]=xxAdd OFX importing to KMyMoneyxx
ServiceTypes=KMyMoneyPlugin
Type=Service
Icon=network-connect
X-KDE-Library=kmm_ofximport
X-KDE-PluginInfo-Name=KMyMoney OFX
X-KDE-PluginInfo-Author=Ace Jones,Thomas Baumgart
X-KDE-PluginInfo-Email=acejones@users.sourceforge.net,ipwizard@users.sourceforge.net
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney.org/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
