[Desktop Entry]
Name=KMyMoney OFX
Comment=Add OFX importing to KMyMoney
ServiceTypes=KMyMoneyPlugin
Type=Service
Icon=network-connect
X-KDE-Library=kmm_ofximport
X-KDE-PluginInfo-Name=KMyMoney OFX
X-KDE-PluginInfo-Author=Ace Jones,Thomas Baumgart
X-KDE-PluginInfo-Email=acejones@users.sourceforge.net,ipwizard@users.sourceforge.net
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney.org/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
