[Desktop Entry]
Name=KMyMoney OFX
Name[es]=KMyMoney OFX
Name[pt]=OFX do KMyMoney
Name[pt_BR]=OFX do KMyMoney
Name[sv]=Kmymoney OFX
Name[uk]=OFX KMyMoney
Name[x-test]=xxKMyMoney OFXxx
Comment=Add OFX importing to KMyMoney
Comment[es]=Añadir importación de OFX a KMyMoney
Comment[pt]=Adicionar a importação de OFX ao KMyMoney
Comment[pt_BR]=Adicionar a importação de OFX para o KMyMoney
Comment[sv]=Lägg till OFX-import till Kmymoney
Comment[uk]=Додає можливість імпортування OFX до KMyMoney
Comment[x-test]=xxAdd OFX importing to KMyMoneyxx
ServiceTypes=KMyMoneyPlugin
Type=Service
Icon=network-connect
X-KDE-Library=kmm_ofximport
X-KDE-PluginInfo-Name=KMyMoney OFX
X-KDE-PluginInfo-Author=Ace Jones,Thomas Baumgart
X-KDE-PluginInfo-Email=acejones@users.sourceforge.net,ipwizard@users.sourceforge.net
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}-${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney2.sourceforge.net/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
