[Desktop Entry]
Name=CSV Importer configuration
Name[ca]=Configuració de l'importador de CSV
Name[ca@valencia]=Configuració de l'importador de CSV
Name[en_GB]=CSV Importer configuration
Name[es]=Configuración del importador CSV
Name[nl]=Instellingen van CSV importeren
Name[pt]=Configuração da Importação de CSV
Name[sv]=CSV-importinställning
Name[uk]=Налаштування засобу імпортування CSV
Name[x-test]=xxCSV Importer configurationxx
Icon=document-import
Type=Service
ServiceTypes=KCModule
Exec=kcmshell5 kmm_csvimport
Categories=Qt;KDE;kmymoney;
Keywords=csvimport;kmymoney;
Keywords[ca]=csvimport;kmymoney;
Keywords[ca@valencia]=csvimport;kmymoney;
Keywords[en_GB]=csvimport;kmymoney;
Keywords[es]=csvimport;kmymoney;
Keywords[nl]=csvimport;kmymoney;
Keywords[pt]=importação csv;kmymoney;
Keywords[sv]=csv-import;kmymoney;
Keywords[uk]=csvimport;kmymoney;імпортування;кома;кмаймані;
Keywords[x-test]=xxcsvimportxx;xxkmymoneyxx;
X-KDE-Library=kcm_kmm_csvimport
X-KDE-ParentApp=csvimport
X-KDE-ParentComponents=csvimport
Comment=Configuration for CSV Importer plugin
Comment[ca]=Configuració del connector d'importació de CSV
Comment[ca@valencia]=Configuració del connector d'importació de CSV
Comment[en_GB]=Configuration for CSV Importer plugin
Comment[es]=Configuración para el complemento de importación CSV
Comment[nl]=Instellingen voor plug-in voor CSV importeren
Comment[pt]=Configuração do 'plugin' de Importação de CSV
Comment[sv]=Anpassa CSV-importinsticksprogram
Comment[uk]=Налаштування додатка імпортування у форматі CSV
Comment[x-test]=xxConfiguration for CSV Importer pluginxx
