[Desktop Entry]
Name=KMyMoney CSV
Name[da]=KMyMoney CSV
Name[el]=KMyMoney CSV
Name[en_GB]=KMyMoney CSV
Name[et]=KMyMoney CSV
Name[fr]=CSV pour KMyMoney
Name[gl]=KMyMoney CSV
Name[km]=KMyMoney CSV
Name[pt]=CSV do KMyMoney
Name[pt_BR]=CSV do KMyMoney
Name[ro]=KMyMoney CSV
Name[sv]=Kmymoney CSV
Name[tr]=KMyMoney CSV
Name[uk]=CSV KMyMoney
Name[x-test]=xxKMyMoney CSVxx
Name[zh_TW]=KMyMoney CSV
Comment=Add CSV importing to KMyMoney
Comment[da]=Føj CSV-import til KMyMoney
Comment[el]=Προσθήκη του εργαλείου εισαγωγής αρχείων CSV στο KMyMoney
Comment[en_GB]=Add CSV importing to KMyMoney
Comment[et]=CSV import KMyMoneysse
Comment[fr]=Ajouter l'import CSV à KMyMoney
Comment[gl]=Engade a importación de CSV a KMyMoney
Comment[km]=បន្ថែម​ការ​នាំចូល CSV ទៅ​កាន់ KMyMoney
Comment[pt]=Adicionar a importação de CSV ao KMyMoney
Comment[pt_BR]=Adicionar a importação de CSV para o KMyMoney
Comment[sv]=Lägg till CSV-import till Kmymoney
Comment[tr]=KMyMoney uygulamasına CSV içeriye aktarma özelliği ekle
Comment[uk]=Додає можливість імпортування CSV до KMyMoney
Comment[x-test]=xxAdd CSV importing to KMyMoneyxx
Comment[zh_TW]=新增 CSV 匯入 KMyMoney
ServiceTypes=KMyMoneyPlugin
Type=Service
Icon=document-import
X-KDE-Library=kmm_csvimport
X-KDE-PluginInfo-Name=csvimport
X-KDE-PluginInfo-Author=Allan Anderson
X-KDE-PluginInfo-Email=aganderson@ukonline.co.uk
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}-${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney2.sourceforge.net/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
