[Desktop Entry]
Name=Configure icalendar export plugin
Name[ar]=اضبط ملحقة تصدير icalendar
Name[bs]=Konfiguriši izvozni dodatak za icalendar
Name[ca]=Configura el connector d'exportació de l'icalendar
Name[ca@valencia]=Configura el connector d'exportació de l'icalendar
Name[da]=Indstil plugin til iCalendar-eksport
Name[de]=iCalendar-Export-Modul konfigurieren
Name[el]=Ρύθμιση πρόσθετου εξαγωγής icalendar
Name[en_GB]=Configure icalendar export plugin
Name[es]=Configurar el complemento de exportación de icalendar
Name[et]=iCalendari ekspordiplugina seadistamine
Name[eu]=Konfiguratu icalendar-en esportazio-plugina
Name[fi]=Aseta icalendar-vientiliitännäinen
Name[fr]=Configurer le module externe d'exportation « iCalendar »
Name[gl]=Configurar o complemento de exportación a icalendar
Name[hu]=icalendar export bővítmény beállítása
Name[it]=Configura l'estensione di esportazione iCalendar
Name[kk]=icalendar-ға экспортау плагинің баптау
Name[ko]=iCalendar 내보내기 플러그인 환경설정
Name[lt]=Derinti icalendar eksportavimo papildinį
Name[nds]=Exportmoduul för ICalendar instellen
Name[nl]=Plugin voor exporteren van icalendar instellen
Name[pl]=Ustawienia wtyczki eksportu icalendar
Name[pt]=Configurar o 'plugin' de exportação para iCalendar
Name[pt_BR]=Configurar o plugin de exportação para iCalendar
Name[ro]=Configurează modulul de exportare în calendar
Name[ru]=Настройка экспорта в формат icalendar
Name[sk]=Nastaviť exportný plugin icalendar
Name[sv]=Anpassa iCalendar-exportinsticksprogram
Name[tr]=iCalendar dışa aktarma eklentisini yapılandır
Name[uk]=Налаштувати додаток експорту до icalendar
Name[x-test]=xxConfigure icalendar export pluginxx
Name[zh_CN]=配置 icalendar 导出插件
Name[zh_TW]=設定 icalendar 匯出外掛程式
Icon=x-office-calendar
Type=Service
ServiceTypes=KCModule
Exec=kcmshell5 icalendarexporter
Categories=Qt;KDE;kmymoney;
Keywords=icalendarexporter;kmymoney;
Keywords[ca]=icalendarexporter;kmymoney;
Keywords[ca@valencia]=icalendarexporter;kmymoney;
Keywords[de]=icalendarexport;kmymoney;
Keywords[en_GB]=icalendarexporter;kmymoney;
Keywords[es]=icalendarexporter;kmymoney;
Keywords[et]=icalendari eksport;kmymoney;
Keywords[eu]=icalendaresportatzailea;icalendarexporter;kmymoney;
Keywords[fi]=icalendar-vienti;kmymoney
Keywords[fr]=icalendarexporter;kmymoney;
Keywords[gl]=icalendarexporter;kmymoney;exportador;icalendar;
Keywords[it]=icalendarexporter;kmymoney;
Keywords[nl]=icalendarexporter;kmymoney;
Keywords[pl]=icalendarexporter;kmymoney;
Keywords[pt]=exportação icalendar;kmymoney;
Keywords[pt_BR]=exportação;icalendar;kmymoney;
Keywords[sv]=icalendarexporter;kmymoney;
Keywords[uk]=icalendarexporter;kmymoney;кмаймані;календар;експорт;
Keywords[x-test]=xxicalendarexporterxx;xxkmymoneyxx;
Keywords[zh_CN]=icalendarexporter;kmymoney;
Keywords[zh_TW]=icalendarexporter;kmymoney;
X-KDE-Library=kmymoney/kcm_icalendarexporter
X-KDE-ParentApp=icalendarexporter
X-KDE-ParentComponents=icalendarexporter
Comment=Permits the configuration of the iCalendar plugin's options
Comment[bs]=Dopušta konfiguraciju opcija iCalendar dodatka
Comment[ca]=Permet la configuració de les opcions del connector iCalendar
Comment[ca@valencia]=Permet la configuració de les opcions del connector iCalendar
Comment[da]=Muliggør konfiguration af indstillingerne til iCalendar-pluginet
Comment[de]=Erlaubt die Konfiguration des iCalendar-Moduls
Comment[el]=Επιτρέπει την ρύθμιση των επιλογών του πρόσθετου iCalendar
Comment[en_GB]=Permits the configuration of the iCalendar plugin's options
Comment[es]=Permite la configuración de las opciones del complemento de iCalendar
Comment[et]=iCalendari plugina valikute seadistamise lubamine
Comment[eu]=iCalendar-en pluginaren aukeren konfigurazioa ahalbidetzen du
Comment[fi]=Sallii iCalendar-asetusten liitännäisen valitsimet
Comment[fr]=Permet la configuration des options du module externe iCalendar
Comment[gl]=Permite a configuración das opcións do complemento para iCalendar
Comment[hu]=Engedélyezi az iCalendar-bővítmény beállításainak módosítását
Comment[it]=Consente la configurazione delle opzioni dell'estensione iCalendar
Comment[kk]=iCalendar плагинін параметрлерін баптауын рұқсат ету
Comment[ko]=iCalendar 플러그인의 옵션 환경설정 허용
Comment[nds]=Optschonen för dat iCalendarmoduul instellen
Comment[nl]=Stelt in staat om opties voor plugins van iCalender in te stellen
Comment[pl]=Pozwala na ustawienie wtyczki iCalendar
Comment[pt]=Permite a configuração das opções do 'plugin' de iCalendar
Comment[pt_BR]=Permite a configuração das opções do plugin de iCalendar
Comment[ro]=Permite configurarea opțiunilor modulului de exportare în calendar
Comment[ru]=Настройка модуля iCalendar
Comment[sk]=Umožní nastavenie možností pluginu iCalendar
Comment[sv]=Möjliggör inställning av alternativ för iCalendar-insticksprogrammet
Comment[tr]=iCalendar eklentisinin seçeneklerinin yapılandırılmasına izin verir
Comment[uk]=Надає змогу налаштовувати параметри додатка iCalendar
Comment[x-test]=xxPermits the configuration of the iCalendar plugin's optionsxx
Comment[zh_TW]=允許 iCalendar 外掛程式的設定選項
