[Desktop Entry]
Name=Configure icalendar export plugin
Name[tr]=Icalendar dışarıya aktarma eklentisi
Name[uk]=Налаштувати додаток експорту до icalendar
Name[x-test]=xxConfigure icalendar export pluginxx
Icon=x-office-calendar
Type=Service
ServiceTypes=KCModule
Exec=kcmshell4 kmm_icalendarexport
Categories=QT;KDE;kmymoney;
Keywords=icalendar;kmymoney
Keywords[tr]=icalendar;kmymoney
Keywords[uk]=icalendar;kmymoney
Keywords[x-test]=xxicalendar;kmymoneyxx
X-KDE-Library=kcm_kmm_icalendarexport
X-KDE-ParentApp=iCalendar
X-KDE-ParentComponents=iCalendar
Comment=Permits the configuration of the iCalendar plugin's options
Comment[tr]=iCalendar eklentilerinin seçeneklerini yapılandırmaya izin verir
Comment[uk]=Надає змогу налаштовувати параметри додака iCalendar
Comment[x-test]=xxPermits the configuration of the iCalendar plugin's optionsxx
