[Desktop Entry]
Encoding=UTF-8
Name=iCalendar
Name[el]=iCalendar
Name[fr]=iCalendar
Name[pt]=iCalendar
Name[tr]=iCalendar
Name[uk]=iCalendar
Name[x-test]=xxiCalendarxx
Comment=Exports schedules to iCalendar files
Comment[el]=Εξαγωγή χρονοδιαγραμμάτων σε αρχεία iCalendar
Comment[fr]=Exporte les rendez-vous dans des fichiers iCalendar
Comment[pt]=Exporta as calendarizações para os ficheiros iCalendar
Comment[tr]=Zamanlamaları iCalendar dosyalarına aktarır
Comment[uk]=Експортує розклади до файлів iCalendar
Comment[x-test]=xxExports schedules to iCalendar filesxx
Type=Service
Icon=x-office-calendar
ServiceTypes=KMyMoneyPlugin
X-KDE-Library=kmm_icalendarexport
X-KDE-PluginInfo-Author=Cristian Oneț
X-KDE-PluginInfo-Email=onet.cristian@gmail.com
X-KDE-PluginInfo-Name=iCalendar
X-KDE-PluginInfo-Version=${CPACK_PACKAGE_VERSION}-${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney2.sourceforge.net/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
