[Desktop Entry]
Name=onlinejobpluginmockup
Name[ca]=onlinejobpluginmockup
Name[ca@valencia]=onlinejobpluginmockup
Name[en_GB]=onlinejobpluginmockup
Name[es]=onlinejobpluginmockup
Name[fi]=onlinejobpluginmockup
Name[fr]=onlinejobpluginmockup
Name[gl]=onlinejobpluginmockup
Name[it]=onlinejobpluginmockup
Name[nl]=onlinejobpluginmockup
Name[pl]=onlinejobpluginmockup
Name[pt]=onlinejobpluginmockup
Name[pt_BR]=onlinejobpluginmockup
Name[sk]=onlinejobpluginmockup
Name[sv]=Insticksprogram med nätjobbsattrapp
Name[uk]=onlinejobpluginmockup
Name[x-test]=xxonlinejobpluginmockupxx
Comment=If mapped to an account, it pretends it could handle all onlineTasks (for developers only).
Comment[ca]=Si està vinculat a un compte, fa veure que pot gestionar totes les tasques en línia (només per a desenvolupadors).
Comment[ca@valencia]=Si està vinculat a un compte, fa veure que pot gestionar totes les tasques en línia (només per a desenvolupadors).
Comment[en_GB]=If mapped to an account, it pretends it could handle all onlineTasks (for developers only).
Comment[es]=Si se aplica a una cuenta, simula que puede manejar todas las tareas en línea (solo para desarrolladores).
Comment[fi]=Jos kytketty tiliin, teeskentelee voivansa käsitellä kaikki verkkotehtävät (vain kehittäjille).
Comment[fr]=S'il est associé à un compte en ligne, prétend qu'il peut traiter toutes les tâches en ligne (uniquement pour les développeurs).
Comment[it]=Se associato a un account, finge di poter gestire tutte le operazioni in linea (solo per sviluppatori).
Comment[nl]=Indien gekoppeld aan een account, pretendeert het dat het alle online taken kan afhandelen (alleen voor ontwikkelaars)
Comment[pt]=Se estiver associado a uma conta, evita que a mesma possa tratar de todas as tarefas 'online' (apenas para programadores).
Comment[pt_BR]=Se estiver associado a uma conta, simula que pode lidar com todas as tarefas online (apenas para desenvolvedores)
Comment[sk]=Ak je namapované na účet, zabraňuje spracovaniu všetkých online úloh (len pre vývojárov)
Comment[sv]=Om tilldelad till ett konto, låtsas det att det kan hantera alla nätuppgifter (bara för utvecklare).
Comment[uk]=Якщо пов’язано із рахунком, запобігає обробці усіх мережевих завдань (лише для розробників).
Comment[x-test]=xxIf mapped to an account, it pretends it could handle all onlineTasks (for developers only).xx
ServiceTypes=KMyMoneyPlugin
Type=Service

X-KDE-Library=kmm_onlinejobpluginmockup
X-KDE-PluginInfo-Name=onlinejobpluginmockup

X-KDE-PluginInfo-Author=Christian David
X-KDE-PluginInfo-Email=christian-david@web.de
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
