[Desktop Entry]
Name=onlinejobpluginmockup
Name[ca]=onlinejobpluginmockup
Name[en_GB]=onlinejobpluginmockup
Name[es]=onlinejobpluginmockup
Name[nl]=onlinejobpluginmockup
Name[pl]=onlinejobpluginmockup
Name[pt]=onlinejobpluginmockup
Name[pt_BR]=onlinejobpluginmockup
Name[sk]=onlinejobpluginmockup
Name[sv]=Insticksprogram med nätjobbsattrapp
Name[tr]=onlinejobpluginmockup
Name[uk]=onlinejobpluginmockup
Name[x-test]=xxonlinejobpluginmockupxx
Comment=If mapped to an account, it prevents it could handle all onlineTasks
Comment[ca]=Si està vinculat a un compte, evita que pugui gestionar totes les tasques en línia
Comment[en_GB]=If mapped to an account, it prevents it could handle all onlineTasks
Comment[es]=Si está asociado a una cuenta, impide que ésta pueda manejar todas las tareas en línea
Comment[nl]=Indien gekoppeld aan een account, voorkomt het dat het alle online taken kan afhandelen
Comment[pl]=Jeśli zmapowana do konta, zapobiega obsługi przez nią wszystkich zadań w sieci
Comment[pt]=Se estiver associado a uma conta, evita que esta possa tratar de todas as tarefas 'online'
Comment[pt_BR]=Se estiver associado a uma conta, evita que ele possa lidar com todas as tarefas online
Comment[sk]=Ak je namapované na účet, zabraňuje spracovaniu všetkých online úloh
Comment[sv]=Om tilldelad till ett konto, förhindrar att det kan hantera alla nätuppgifter
Comment[tr]=Bir hesapla eşleştirildiğinde, tüm çevrimiçiGörevleri gerçekleştirmesini önler
Comment[uk]=Якщо пов’язано із рахунком, може обробляти усі інтернет-завдання
Comment[x-test]=xxIf mapped to an account, it prevents it could handle all onlineTasksxx
ServiceTypes=KMyMoneyPlugin
Type=Service

X-KDE-Library=kmm_onlinejobpluginmockup
X-KDE-PluginInfo-Name=onlinejobpluginmockup

X-KDE-PluginInfo-Author=Christian David
X-KDE-PluginInfo-Email=christian-david@web.de
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
