[Desktop Entry]
Name=onlinejobpluginmockup
Name[ca]=onlinejobpluginmockup
Name[ca@valencia]=onlinejobpluginmockup
Name[da]=onlinejobpluginmockup
Name[en_GB]=onlinejobpluginmockup
Name[es]=onlinejobpluginmockup
Name[gl]=onlinejobpluginmockup
Name[it]=onlinejobpluginmockup
Name[nl]=onlinejobpluginmockup
Name[pl]=onlinejobpluginmockup
Name[pt]=onlinejobpluginmockup
Name[pt_BR]=onlinejobpluginmockup
Name[sk]=onlinejobpluginmockup
Name[sv]=Insticksprogram med nätjobbsattrapp
Name[tr]=onlinejobpluginmockup
Name[uk]=onlinejobpluginmockup
Name[x-test]=xxonlinejobpluginmockupxx
Comment=If mapped to an account, it pretends it could handle all onlineTasks (for developers only).
Comment[ca]=Si està vinculat a un compte, aspira a pugui gestionar totes les tasques en línia (només per desenvolupadors).
Comment[ca@valencia]=Si està vinculat a un compte, aspira a puga gestionar totes les tasques en línia (només per desenvolupadors).
Comment[en_GB]=If mapped to an account, it pretends it could handle all onlineTasks (for developers only).
Comment[es]=Si se aplica a una cuenta, simula que puede manejar todas las tareas en línea (solo para desarrolladores).
Comment[gl]=Asociado a unha conta, impídelle manexar todas as tarefas por internet.
Comment[it]=Se associato a un account, impedisce che possa gestire solo operazioni in linea
Comment[nl]=Indien gekoppeld aan een account, pretendeert het dat het alle online taken kan afhandelen (alleen voor ontwikkelaars)
Comment[pl]=Jeśli zmapowana do konta, twierdzi, że może obsłużyć wszystkie zadania sieciowe (tylko dla programistów).
Comment[pt]=Se estiver associado a uma conta, evita que esta possa tratar de todas as tarefas 'online' (apenas para programadores).
Comment[pt_BR]=Se estiver associado a uma conta, evita que ele possa lidar com todas as tarefas online
Comment[sk]=Ak je namapované na účet, zabraňuje spracovaniu všetkých online úloh (len pre vývojárov)
Comment[sv]=Om tilldelad till ett konto, låtsas det att det kan hantera alla nätuppgifter (bara för utvecklare).
Comment[uk]=Якщо пов’язано із рахунком, створює враження, що може обробляти усі інтернет-завдання (лише для розробників).
Comment[x-test]=xxIf mapped to an account, it pretends it could handle all onlineTasks (for developers only).xx
ServiceTypes=KMyMoneyPlugin
Type=Service

X-KDE-Library=kmm_onlinejobpluginmockup
X-KDE-PluginInfo-Name=onlinejobpluginmockup

X-KDE-PluginInfo-Author=Christian David
X-KDE-PluginInfo-Email=christian-david@web.de
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
