[Desktop Entry]
Name=KMyMoney OFX
Name[da]=KMyMoney OFX
Name[el]=KMyMoney OFX
Name[en_GB]=KMyMoney OFX
Name[et]=KMyMoney OFX
Name[fr]=OFX pour KMyMoney
Name[gl]=KMyMoney OFX
Name[km]=KMyMoney OFX
Name[pt]=OFX do KMyMoney
Name[pt_BR]=OFX do KMyMoney
Name[ro]=KMyMoney OFX
Name[sv]=Kmymoney OFX
Name[tr]=KMyMoney OFX
Name[uk]=OFX KMyMoney
Name[x-test]=xxKMyMoney OFXxx
Name[zh_TW]=KMyMoney OFX
Comment=Add OFX importing to KMyMoney
Comment[da]=Føj OFX-import til KMyMoney
Comment[el]=Προσθήκη του εργαλείου εισαγωγής αρχείων OFX στο KMyMoney
Comment[en_GB]=Add OFX importing to KMyMoney
Comment[et]=OFX import KMyMoneysse
Comment[fr]=Ajouter l'import OFX à KMyMoney
Comment[gl]=Engade a importación de OFX a KMyMoney
Comment[km]=បន្ថែម​ការ​នាំចូល OFX ទៅ​កាន់ KMyMoney
Comment[pt]=Adicionar a importação de OFX ao KMyMoney
Comment[pt_BR]=Adicionar a importação de OFX para o KMyMoney
Comment[sv]=Lägg till OFX-import till Kmymoney
Comment[tr]=KMyMoney uygulamasına OFX içeriye aktarma özelliği ekle
Comment[uk]=Додає можливість імпортування OFX до KMyMoney
Comment[x-test]=xxAdd OFX importing to KMyMoneyxx
Comment[zh_TW]=新增 OFX 匯入 KMyMoney
ServiceTypes=KMyMoneyPlugin
Type=Service
Icon=network-connect
X-KDE-Library=kmm_ofximport
X-KDE-PluginInfo-Name=OFX
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
