[Desktop Entry]
Name=KMyMoney OFX
Name[fr]=OFX pour KMyMoney
Name[pt]=OFX do KMyMoney
Name[pt_BR]=OFX do KMyMoney
Name[sv]=Kmymoney OFX
Name[uk]=OFX KMyMoney
Name[x-test]=xxKMyMoney OFXxx
Comment=Add OFX importing to KMyMoney
Comment[et]=OFX import KMyMoneysse
Comment[fr]=Ajouter l'import OFX à KMyMoney
Comment[gl]=Engade a importación de OFX a KMyMoney
Comment[km]=បន្ថែម​ការ​នាំចូល OFX ទៅ​កាន់ KMyMoney
Comment[pt]=Adicionar a importação de OFX ao KMyMoney
Comment[pt_BR]=Adicionar a importação de OFX ao KMyMoney
Comment[sv]=Lägg till OFX-import till Kmymoney
Comment[uk]=Додає можливість імпортування OFX до KMyMoney
Comment[x-test]=xxAdd OFX importing to KMyMoneyxx
Comment[zh_TW]=新增 OFX 匯入 KMyMoney
ServiceTypes=KMyMoneyPlugin
Type=Service
Icon=connect_creating
X-KDE-Library=kmm_ofximport
X-KDE-PluginInfo-Name=OFX
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
