cmake-build*/
build*/
vcpkg_installed
.svn/
*.orig
*.rej
*~
*.kdev4
ui_*.h
moc_*.cpp
*.moc
kmymoney/icons/icons.qrc
kmymoney/templates/templates.qrc
/compile_commands.json
.clangd
.cache
.idea
docker/.env
