<!DOCTYPE kdevelop>
<kdevelop>
  <general>
    <author>Michael Edwardes</author>
    <email>mte@users.sourceforge.net</email>
    <projectmanagement>KDevKDEAutoProject</projectmanagement>
    <primarylanguage>C++</primarylanguage>
    <keywords>
      <keyword>KDE</keyword>
      <keyword>Qt</keyword>
    </keywords>
    <projectdirectory>.</projectdirectory>
    <absoluteprojectpath>false</absoluteprojectpath>
    <version>0.7.0</version>
    <description/>
    <ignoreparts/>
    <secondaryLanguages/>
    <versioncontrol/>
    <projectname>kmymoney2</projectname>
    <defaultencoding/>
  </general>
  <kdevautoproject>
    <general>
      <mainprogram>kmymoney2/kmymoney2</mainprogram>
      <useconfiguration>suse103</useconfiguration>
      <activetarget>kmymoney2/kmymoney2</activetarget>
    </general>
    <configure>
      <configargs>\s--build=i386-linux --host=i386-linux --target=i386-linux\s</configargs>
    </configure>
    <make>
      <abortonerror>true</abortonerror>
      <numberofjobs>3</numberofjobs>
      <dontact>false</dontact>
      <makebin/>
      <envvars>
        <envvar value="1" name="WANT_AUTOCONF_2_5" />
        <envvar value="1" name="WANT_AUTOMAKE_1_6" />
      </envvars>
      <runmultiplejobs>true</runmultiplejobs>
      <prio>0</prio>
    </make>
    <compiler>
      <cflags/>
      <cxxflags>\s-O0 -g3 -Wall</cxxflags>
    </compiler>
    <run>
      <directoryradio>executable</directoryradio>
      <customdirectory>/</customdirectory>
      <mainprogram>/home/thb/devel/kmymoney2/suse103/kmymoney2/kmymoney2</mainprogram>
      <programargs/>
      <terminal>false</terminal>
      <autocompile>false</autocompile>
      <envvars/>
      <globaldebugarguments/>
      <globalcwd>/home/thb/devel/kmymoney2/suse103/kmymoney2</globalcwd>
      <useglobalprogram>true</useglobalprogram>
      <autoinstall>false</autoinstall>
      <autokdesu>false</autokdesu>
    </run>
    <configurations>
      <default>
        <configargs>--mandir=/usr/share/man --enable-debug=full --enable-charts</configargs>
        <builddir/>
        <topsourcedir>/home/thb/devel/kmymoney2</topsourcedir>
        <cppflags/>
        <ldflags/>
        <ccompiler>kdevgccoptions</ccompiler>
        <cxxcompiler>kdevgppoptions</cxxcompiler>
        <f77compiler>kdevpgf77options</f77compiler>
        <ccompilerbinary/>
        <cxxcompilerbinary/>
        <f77compilerbinary/>
        <cflags/>
        <cxxflags>-D_CHECK_MEMORY</cxxflags>
        <f77flags/>
        <envvars/>
      </default>
      <suse103>
        <configargs>--mandir=/usr/share/man --enable-debug=full --enable-charts</configargs>
        <builddir>suse103</builddir>
        <topsourcedir>/home/thb/devel/kmymoney2</topsourcedir>
        <cppflags/>
        <ldflags/>
        <ccompiler>kdevgccoptions</ccompiler>
        <cxxcompiler>kdevgppoptions</cxxcompiler>
        <f77compiler>kdevpgf77options</f77compiler>
        <ccompilerbinary/>
        <cxxcompilerbinary/>
        <f77compilerbinary/>
        <cflags/>
        <cxxflags/>
        <f77flags/>
        <envvars/>
      </suse103>
    </configurations>
  </kdevautoproject>
  <kdevfileview>
    <groups>
      <group pattern="*.h;*.hh;*.hxx;*.hpp;*.H" name="Headers" />
      <group pattern="*.cpp;*.c;*.cc;*.C;*.cxx;*.ec;*.ecpp;*.lxx;*.l++;*.ll;*.l" name="Sources" />
      <group pattern="*.kdevdlg;*.ui;*.rc" name="User Interface" />
      <group pattern="*.po" name="Translations" />
      <group pattern="AUTHORS;COPYING;ChangeLog;INSTALL;README;TODO;NEWS" name="GNU" />
      <group pattern="*" name="Others" />
      <hidenonprojectfiles>false</hidenonprojectfiles>
      <hidenonlocation>false</hidenonlocation>
    </groups>
    <tree>
      <hidepatterns>*.o,*.lo,CVS</hidepatterns>
      <showvcsfields>false</showvcsfields>
      <hidenonprojectfiles>false</hidenonprojectfiles>
    </tree>
  </kdevfileview>
  <kdevdoctreeview>
    <ignoretocs>
      <toc>gtk</toc>
      <toc>gnustep</toc>
      <toc>python</toc>
      <toc>php</toc>
      <toc>perl</toc>
    </ignoretocs>
    <projectdoc>
      <userdocDir>html/</userdocDir>
      <apidocDir>html/</apidocDir>
    </projectdoc>
    <ignoreqt_xml/>
    <ignoredoxygen/>
    <ignorekdocs/>
    <ignoredevhelp/>
  </kdevdoctreeview>
  <kdevdebugger>
    <general>
      <dbgshell>libtool</dbgshell>
      <programargs/>
      <gdbpath/>
      <configGdbScript/>
      <runShellScript/>
      <runGdbScript/>
      <breakonloadinglibs>true</breakonloadinglibs>
      <separatetty>false</separatetty>
      <floatingtoolbar>true</floatingtoolbar>
      <raiseGDBOnStart>false</raiseGDBOnStart>
    </general>
    <display>
      <staticmembers>false</staticmembers>
      <demanglenames>true</demanglenames>
      <outputradix>10</outputradix>
    </display>
  </kdevdebugger>
  <kdevcvsservice>
    <recursivewhenupdate>true</recursivewhenupdate>
    <prunedirswhenupdate>true</prunedirswhenupdate>
    <createdirswhenupdate>true</createdirswhenupdate>
    <recursivewhencommitremove>true</recursivewhencommitremove>
    <revertoptions>-C</revertoptions>
  </kdevcvsservice>
  <kdevcppsupport>
    <references/>
    <codecompletion>
      <includeGlobalFunctions>true</includeGlobalFunctions>
      <includeTypes>true</includeTypes>
      <includeEnums>true</includeEnums>
      <includeTypedefs>false</includeTypedefs>
      <automaticCodeCompletion>true</automaticCodeCompletion>
      <automaticArgumentsHint>true</automaticArgumentsHint>
      <automaticHeaderCompletion>true</automaticHeaderCompletion>
      <codeCompletionDelay>250</codeCompletionDelay>
      <argumentsHintDelay>400</argumentsHintDelay>
      <headerCompletionDelay>250</headerCompletionDelay>
      <showOnlyAccessibleItems>false</showOnlyAccessibleItems>
      <completionBoxItemOrder>0</completionBoxItemOrder>
      <howEvaluationContextMenu>true</howEvaluationContextMenu>
      <showCommentWithArgumentHint>true</showCommentWithArgumentHint>
      <statusBarTypeEvaluation>false</statusBarTypeEvaluation>
      <namespaceAliases>std=_GLIBCXX_STD;__gnu_cxx=std</namespaceAliases>
      <processPrimaryTypes>true</processPrimaryTypes>
      <processFunctionArguments>false</processFunctionArguments>
      <preProcessAllHeaders>false</preProcessAllHeaders>
      <parseMissingHeadersExperimental>false</parseMissingHeadersExperimental>
      <resolveIncludePathsUsingMakeExperimental>false</resolveIncludePathsUsingMakeExperimental>
      <alwaysParseInBackground>true</alwaysParseInBackground>
      <usePermanentCaching>true</usePermanentCaching>
      <alwaysIncludeNamespaces>false</alwaysIncludeNamespaces>
      <includePaths>.;</includePaths>
      <parseMissingHeaders>false</parseMissingHeaders>
      <resolveIncludePaths>true</resolveIncludePaths>
    </codecompletion>
    <qt>
      <used>true</used>
      <version>3</version>
      <root>/usr/lib/qt3</root>
      <includestyle>3</includestyle>
      <designerintegration>EmbeddedKDevDesigner</designerintegration>
      <qmake>/usr/lib/qt3/bin/qmake</qmake>
      <designer>/usr/lib/qt3/bin/designer</designer>
      <designerpluginpaths/>
    </qt>
    <creategettersetter>
      <prefixGet/>
      <prefixSet>set</prefixSet>
      <prefixVariable>m_,_</prefixVariable>
      <parameterName>theValue</parameterName>
      <inlineGet>true</inlineGet>
      <inlineSet>true</inlineSet>
    </creategettersetter>
    <designerintegration>
      <qtdesigner/>
    </designerintegration>
    <splitheadersource>
      <enabled>false</enabled>
      <synchronize>true</synchronize>
      <orientation>Vertical</orientation>
    </splitheadersource>
  </kdevcppsupport>
  <cppsupportpart>
    <filetemplates>
      <interfacesuffix>.h</interfacesuffix>
      <implementationsuffix>.cpp</implementationsuffix>
    </filetemplates>
  </cppsupportpart>
  <kdevfilecreate>
    <filetypes/>
    <useglobaltypes/>
  </kdevfilecreate>
  <kdevdocumentation>
    <projectdoc>
      <docsystem/>
      <docurl/>
      <usermanualurl/>
    </projectdoc>
  </kdevdocumentation>
  <ctagspart>
    <customArguments/>
    <customTagfilePath>/home/al/desarrollo/kmm/kmymoney2/tags</customTagfilePath>
    <activeTagsFiles/>
  </ctagspart>
</kdevelop>
