[Desktop Entry]
Name=KBanking
Name[bs]=KBanking
Name[ca]=KBanking
Name[ca@valencia]=KBanking
Name[cs]=KBanking
Name[da]=KBanking
Name[de]=KBanking
Name[el]=KBanking
Name[en_GB]=KBanking
Name[es]=KBanking
Name[et]=KBanking
Name[eu]=KBanking
Name[fi]=KBanking
Name[fr]=KBanking
Name[ga]=KBanking
Name[gl]=KBanking
Name[hu]=KBanking
Name[it]=KBanking
Name[kk]=KBanking
Name[nds]=KBanking
Name[nl]=KBanking
Name[pl]=KBanking
Name[pt]=KBanking
Name[pt_BR]=KBanking
Name[ro]=KBanking
Name[ru]=KBanking
Name[sk]=KBanking
Name[sv]=Kbank
Name[tr]=KBanking
Name[uk]=KBanking
Name[x-test]=xxKBankingxx
Name[zh_CN]=KBanking
Name[zh_TW]=KBanking
Comment=Add online banking to KMyMoney
Comment[bs]=Dodaje mrežno bankarstvo u KMyMoney
Comment[ca]=Afegeix la banca en línia al KMyMoney
Comment[ca@valencia]=Afig la banca en línia al KMyMoney
Comment[da]=Føj netbank til KMyMoney
Comment[de]=Fügt Onlinebanking zu KMyMoney hinzu
Comment[el]=Προσθήκη τραπεζικών διαδικτυακών υπηρεσιών στο KMyMoney
Comment[en_GB]=Add online banking to KMyMoney
Comment[es]=Añade banca en línea a KMyMoney
Comment[et]=Internetipanganduse lisamine KMyMoneysse
Comment[eu]=Erantsi lerroko bankua KMyMoney-ri
Comment[fi]=Liitä verkkopankki KMyMoney-ohjelmaan
Comment[fr]=Ajoute des capacités de banque en ligne à KMyMoney
Comment[gl]=Engadir banca por Internet a KMyMoney
Comment[hu]=Online bank hozzáadása a KMyMoney-hoz
Comment[it]=Aggiungi l'online banking a KMyMoney
Comment[kk]=KMyMoney-ге онлайн банкингті қосу
Comment[nds]=Internett-Bankeree för KMyMoney
Comment[nl]=Voegt online bankieren toe aan KMyMoney
Comment[pl]=Dodaje bankowość internetową do KMyMoney
Comment[pt]=Adiciona a banca 'online' ao KMyMoney
Comment[pt_BR]=Adiciona banco online ao KMyMoney
Comment[ro]=Interfață de online banking (hbci) pentru KMyMoney
Comment[ru]=Система банк-клиент для KMyMoney
Comment[sk]=Pridať online banking do KMyMoney
Comment[sv]=Lägg till Internetbank till Kmymoney
Comment[tr]=KMyMoney içerisine çevrimiçi bankacılık ekle
Comment[uk]=Додає можливість роботи з банками за допомогою мережі до KMyMoney
Comment[x-test]=xxAdd online banking to KMyMoneyxx
Comment[zh_TW]=新增線上銀行到 KMyMoney
ServiceTypes=KMyMoneyPlugin
Type=Service
Icon=network-connect
X-KDE-Library=kmm_kbanking
X-KDE-PluginInfo-Name=KBanking
X-KDE-PluginInfo-Author=Martin Preuss,Thomas Baumgart
X-KDE-PluginInfo-Email=aquamaniac@users.sourceforge.net,ipwizard@users.sourceforge.net
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney.org/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
