[Desktop Entry]
Name=Configure the check printing plugin
Icon=document-print
Type=Service
ServiceTypes=KCModule
Exec=kcmshell5 checkprinting
Categories=Qt;KDE;kmymoney;
Keywords=checkprinting;kmymoney;
X-KDE-Library=kcm_checkprinting
X-KDE-ParentApp=checkprinting
X-KDE-ParentComponents=checkprinting
Comment=Permits the configuration of the print check plugin's options
Comment[bs]=Dopušta konfiguraciju opcija dodatka za štampanje čekva
Comment[ca]=Permet la configuració de les opcions del connector d'impressió de xecs
Comment[ca@valencia]=Permet la configuració de les opcions del connector d'impressió de xecs
Comment[da]=Muliggør konfiguration af indstillingerne til pluginet til udskrift af checks
Comment[de]=Erlaubt die Konfiguration des Moduls zum Drucken von Schecks
Comment[el]=Επιτρέπει την ρύθμιση επιλογών του πρόσθετου εκτύπωσης επιταγών
Comment[en_GB]=Permits the configuration of the print cheque plugin's options
Comment[es]=Permite la configuración de las opciones del complemento de impresión de cheques
Comment[et]=Tšeki trükkimise plugina valikute seadistamise lubamine
Comment[eu]=Aukera ematen du txekeak inprimatzeko pluginaren aukerak konfiguratzeko
Comment[fi]=Sallii tulosta shekki - asetuksen liitännäisen valitsimet
Comment[fr]=Permet la configuration des options du module externe pour l'impression de chèques
Comment[gl]=Permite a configuración das opcións do complemento para imprimir cheques
Comment[hu]=Engedélyezi a nyomtatás-ellenőrző bővítmény beállításainak módosítását
Comment[it]=Consente la configurazione delle opzioni dell'estensione di stampa assegni
Comment[kk]=Чек басып шығару плагинін параметрлерін баптауын рұқсат ету
Comment[nds]=Optschonen för dat Scheckdruckmoduul instellen
Comment[nl]=Stelt in staat om opties voor de plugin voor het afdrukken van een check in te stellen
Comment[pl]=Umożliwia ustawienie wtyczki wydruku czeku
Comment[pt]=Permite a configuração das opções do 'plugin' de impressão de cheques
Comment[pt_BR]=Permite a configuração das opções do plugin de impressão de cheques
Comment[ro]=Permite configurarea modulului pentru tipărirea cecurilor
Comment[ru]=Настройка модуля печати чеков
Comment[sk]=Umožní nastavenie možností pluginu tlače šekov
Comment[sv]=Möjliggör inställning av alternativ för insticksprogrammet för utskrift av checkar
Comment[tr]=Çek yazdırma eklentisinin seçeneklerinin yapılandırılmasına izin verir
Comment[uk]=Надає змогу налаштовувати параметри додатка друку чеків
Comment[x-test]=xxPermits the configuration of the print check plugin's optionsxx
Comment[zh_TW]=允許列印支票外掛程式的設定選項
