[Desktop Entry]
Name=KMyMoney
GenericName=Personal Finance Manager
Exec=kmymoney2 %u
Comment=Personal Finance Manager
MimeType=application/x-kmymoney;application/vnd.intu.qfx;application/x-ofx;
Type=Application
DocPath=kmymoney2/index.html
Icon=kmymoney2
ServiceTypes=
Categories=Office;Finance;
