[Desktop Entry]
Name=KMyMoney
Name[en_GB]=KMyMoney
Name[et]=KMyMoney
Name[fr]=KMyMoney
Name[gl]=KMyMoney
Name[km]=KMyMoney
Name[ms]=KMyMoney
Name[pt]=KMyMoney
Name[pt_BR]=KMyMoney
Name[ro]=KMyMoney
Name[sv]=Kmymoney
Name[tr]=KMyMoney
Name[uk]=KMyMoney
Name[x-test]=xxKMyMoneyxx
Name[zh_TW]=KMyMoney
GenericName=Personal Finance Manager
GenericName[en_GB]=Personal Finance Manager
GenericName[et]=Isiklike rahaasjade haldur
GenericName[fr]=Outil de gestion des finances personnelles
GenericName[gl]=Xestor de finanzas persoais
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​ហិរញ្ញវត្ថុ​ផ្ទាល់ខ្លួន
GenericName[ms]=Pengurus Kewangan Peribadi
GenericName[pt]=Gestor de Finanças Pessoais
GenericName[pt_BR]=Gerenciador financeiro pessoal
GenericName[ro]=Gestionar personal de finanțe
GenericName[sv]=Personlig ekonomihantering
GenericName[tr]=Kişisel Finans Yönetici
GenericName[uk]=Особисте керування фінансами
GenericName[x-test]=xxPersonal Finance Managerxx
GenericName[zh_TW]=個人財務管理程式
Exec=kmymoney2 %u
Comment=Personal Finance Manager
Comment[en_GB]=Personal Finance Manager
Comment[et]=Isiklike rahaasjade haldur
Comment[fr]=Outil de gestion des finances personnelles
Comment[gl]=Xestor de finanzas persoais
Comment[km]=កម្មវិធី​គ្រប់គ្រង​ហិរញ្ញវត្ថុ​ផ្ទាល់ខ្លួន
Comment[ms]=Pengurus Kewangan Peribadi
Comment[pt]=Gestor de Finanças Pessoais
Comment[pt_BR]=Gerenciador financeiro pessoal
Comment[ro]=Gestionar personal de finanțe
Comment[sv]=Personlig ekonomihantering
Comment[tr]=Kişisel Finans Yönetici
Comment[uk]=Особисте керування фінансами
Comment[x-test]=xxPersonal Finance Managerxx
Comment[zh_TW]=個人財務管理程式
MimeType=application/x-kmymoney;application/vnd.intu.qfx;application/x-ofx;
Type=Application
DocPath=kmymoney2/index.html
Icon=kmymoney2
ServiceTypes=
Categories=Office;Finance;
