[Desktop Entry]
Name=KMyMoney
GenericName=Personal Finance Manager
GenericName[de]=Persönlicher Finanzassistent
GenericName[fr]=Gestionnaire de finances personnelles
GenericName[tr]=Kişisel Finans Yöneticisi
GenericName[ro]=Gestionar de finanțe personale
GenericName[ru]=Учёт финансов
GenericName[zh_CN]=个人财务管理软件
Exec=kmymoney2 %u
Comment=Personal Finance Manager
Comment[de]=Persönlicher Finanzassistent
Comment[fr]=Gestionnaire de finances personnelles
Comment[tr]=Kişisel Finans Yöneticisi
Comment[ro]=Gestionar de finanțe personale
Comment[ru]=Учёт финансов
Comment[zh_CN]=个人财务管理软件
MimeType=application/x-kmymoney;application/vnd.intu.qfx;application/x-ofx;
Type=Application
DocPath=kmymoney2/index.html
Icon=kmymoney2
ServiceTypes=
Categories=Office;Finance;
