[Desktop Entry]
Comment=KMyMoney File
Comment[el]=Αρχείο KMyMoney
Comment[en_GB]=KMyMoney File
Comment[et]=KMyMoney fail
Comment[fr]=Fichier KMyMoney
Comment[gl]=Ficheiro de 
Comment[km]=ឯកសារ KMyMoney
Comment[pt]=Ficheiro do KMyMoney
Comment[pt_BR]=Arquivo KMyMoney
Comment[ro]=Fișier KMyMoney
Comment[sv]=Kmymoney-fil
Comment[tr]=KMyMoney Dosyası
Comment[uk]=Файл KMyMoney
Comment[x-test]=xxKMyMoney Filexx
Comment[zh_TW]=KMyMoney 檔
Icon=kmy
Type=MimeType
MimeType=application/x-kmymoney;
Patterns=*.kmy;*.kmt;
