[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KMyMoney/sqlStoragePlugin
Name=Enables plugins to store data in the sql database
Name[de]=Aktiviert Module, um Daten in der SQL-Datenbank zu speichern
Name[nl]=Schakelt plug-ins in om gegevens in de sql-database op te slaan
Name[pt]=Permite aos 'plugins' guardarem dados na base de dados de SQL
Name[pt_BR]=Permite que os plugins armazenem dados no banco de dados SQL
Name[sk]=Umožní pluginom uložiť údaje v sql databáze
Name[sv]=Gör det möjligt för insticksprogram att lagra data i SQL-databasen
Name[uk]=Надає змогу додаткам зберігати дані у базі даних SQL
Name[x-test]=xxEnables plugins to store data in the sql databasexx

[PropertyDef::X-KMyMoney-PluginIid]
Type=QStringList
# The unique identifier for the plugin
