[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KMyMoney/sqlStoragePlugin
Name=Enables plugins to store data in the sql database
Name[da]=Aktiverer plugins til at lagre data i sql-databasen
Name[en_GB]=Enables plugins to store data in the sql database
Name[es]=Permite a los complementos almacenar datos en la base de datos sql
Name[nl]=Schakelt plug-ins in om gegevens in de sql-database op te slaan
Name[pl]=Włącza wtyczki do przechowywania danych w bazach danych sql
Name[pt]=Permite aos 'plugins' armazenarem dados na base de dados SQL
Name[pt_BR]=Permite que os plugins armazenem dados no banco de dados SQL
Name[sv]=Gör det möjligt för insticksprogram att lagra data i SQL-databasen
Name[uk]=Надає змогу додаткам зберігати дані у базі даних SQL
Name[x-test]=xxEnables plugins to store data in the sql databasexx

[PropertyDef::X-KMyMoney-PluginIid]
Type=QStringList
# The unique identifier for the plugin
