[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KMyMoney/sqlStoragePlugin
Name=Enables plugins to store data in the sql database
Name[ca]=Activa els connectors per emmagatzemar dades en la base de dades SQL
Name[ca@valencia]=Activa els connectors per emmagatzemar dades en la base de dades SQL
Name[es]=Activa los complementos para almacenar datos en la base de datos sql
Name[fi]=Sallii liitännäisten tallettaa tietoa SQL-tietokantaan
Name[gl]=Permite ao complementos almacenar datos na base de datos SQL
Name[it]=Abilita le estensioni per archiviare i dati nella banca dati sql
Name[nl]=Schakelt plug-ins in om gegevens in de sql-database op te slaan
Name[pl]=Włącza wtyczki do przechowywania danych w bazach danych sql
Name[pt]=Activa os 'plugins' para armazenar dados na base de dados SQL
Name[sv]=Gör det möjligt för insticksprogram att lagra data i SQL-databasen
Name[x-test]=xxEnables plugins to store data in the sql databasexx

[PropertyDef::X-KMyMoney-PluginIid]
Type=QStringList
# The unique identifier for the plugin
