[Desktop Entry]
Name=XML storage configuration
Name[ca]=Configuració de l'emmagatzematge XML
Name[ca@valencia]=Configuració de l'emmagatzematge XML
Name[cs]=Nastavení úložiště XML
Name[de]=Einrichtung des XML-Speichers
Name[es]=Configuración del almacenamiento XML
Name[fi]=XML-tallennuksen asetukset
Name[fr]=Configuration du stockage XML
Name[gl]=Configuración de almacenamento de XML
Name[it]=Configurazione dell'archiviazione XML
Name[nl]=XML-opslagconfiguratie
Name[pt]=Configuração do armazenamento de XML
Name[pt_BR]=Configuração do armazenamento XML
Name[sv]=XML-lagringsinställning
Name[uk]=Налаштування сховища збереження XML
Name[x-test]=xxXML storage configurationxx
Icon=server-database
Type=Service
ServiceTypes=KCModule
Exec=kcmshell5 xmlstorage
Categories=Qt;KDE;kmymoney;
Keywords=xmlstorage;kmymoney;
Keywords[ca]=xmlstorage;kmymoney;
Keywords[ca@valencia]=xmlstorage;kmymoney;
Keywords[cs]=xmlstorage;kmymoney;
Keywords[de]=xmlspeicher;xmlstorage;kmymoney;
Keywords[es]=xmlstorage;kmymoney;
Keywords[fi]=xmlstorage;kmymoney;
Keywords[fr]=xmlstorage;kmymoney;
Keywords[gl]=xmlstorage;kmymoney;
Keywords[it]=xmlstorage;kmymoney;
Keywords[nl]=xmlstorage;kmymoney;
Keywords[pt]=armazenamento xml;kmymoney;
Keywords[pt_BR]=armazenamento;xml;kmymoney;
Keywords[sv]=xml-lagring;kmymoney;
Keywords[uk]=xmlstorage;kmymoney;сховища;кмаймані;
Keywords[x-test]=xxxmlstoragexx;xxkmymoneyxx;
X-KDE-Library=kmymoney/kcm_xmlstorage
X-KDE-ParentApp=xmlstorage
X-KDE-ParentComponents=xmlstorage
Comment=Configuration for XML storage plugin
Comment[ca]=Configuració del connector d'emmagatzematge XML
Comment[ca@valencia]=Configuració del connector d'emmagatzematge XML
Comment[cs]=Nastavení modulu pro úložiště XML
Comment[de]=Einrichtung für das XML-Speichermodul
Comment[es]=Configuración para el complemento de almacenamiento XML
Comment[fi]=XML-tallennusliitännäisen asetukset
Comment[fr]=Configuration du module externe de stockage XML
Comment[gl]=Configuración do complemento de almacenamento de XML
Comment[it]=Configurazione dell'estensione di archiviazione XML
Comment[nl]=Configuratie voor plug-in voor XML-opslag
Comment[pt]=Configuração do 'plugin' de armazenamento em XML
Comment[pt_BR]=Configuração do plugin de armazenamento XML
Comment[sv]=Anpassa XML-lagringsinsticksprogram
Comment[uk]=Налаштування додатка сховища даних XML
Comment[x-test]=xxConfiguration for XML storage pluginxx
