[Desktop Entry]
Name=XML storage configuration
Icon=server-database
Type=Service
ServiceTypes=KCModule
Exec=kcmshell5 xmlstorage
Categories=Qt;KDE;kmymoney;
Keywords=xmlstorage;kmymoney;
X-KDE-Library=kmymoney/kcm_xmlstorage
X-KDE-ParentApp=xmlstorage
X-KDE-ParentComponents=xmlstorage
Comment=Configuration for XML storage plugin
