[Desktop Entry]
Name=XML storage configuration
Name[ca]=Configuració de l'emmagatzematge XML
Name[ca@valencia]=Configuració de l'emmagatzematge XML
Name[cs]=Nastavení úložiště XML
Name[en_GB]=XML storage configuration
Name[es]=Configuración del almacenamiento XML
Name[fr]=Configuration du stockage XML
Name[nl]=XML-opslagconfiguratie
Name[pl]=Ustawienia przechowywania XML
Name[pt]=Configuração do armazenamento em XML
Name[sv]=XML-lagringsinställning
Name[uk]=Налаштування сховища збереження XML
Name[x-test]=xxXML storage configurationxx
Icon=server-database
Type=Service
ServiceTypes=KCModule
Exec=kcmshell5 xmlstorage
Categories=Qt;KDE;kmymoney;
Keywords=xmlstorage;kmymoney;
Keywords[ca]=xmlstorage;kmymoney;
Keywords[ca@valencia]=xmlstorage;kmymoney;
Keywords[cs]=xmlstorage;kmymoney;
Keywords[en_GB]=xmlstorage;kmymoney;
Keywords[es]=xmlstorage;kmymoney;
Keywords[fr]=xmlstorage;kmymoney;
Keywords[nl]=xmlstorage;kmymoney;
Keywords[pl]=xmlstorage;kmymoney;
Keywords[pt]=armazenamento xml;kmymoney;
Keywords[sv]=xml-lagring;kmymoney;
Keywords[uk]=xmlstorage;kmymoney;сховища;кмаймані;
Keywords[x-test]=xxxmlstoragexx;xxkmymoneyxx;
X-KDE-Library=kmymoney/kcm_xmlstorage
X-KDE-ParentApp=xmlstorage
X-KDE-ParentComponents=xmlstorage
Comment=Configuration for XML storage plugin
Comment[ca]=Configuració del connector d'emmagatzematge XML
Comment[ca@valencia]=Configuració del connector d'emmagatzematge XML
Comment[cs]=Nastavení modulu pro úložiště XML
Comment[en_GB]=Configuration for XML storage plugin
Comment[es]=Configuración para el complemento de almacenamiento XML
Comment[fr]=Configuration du module externe de stockage XML
Comment[nl]=Configuratie voor plug-in voor XML-opslag
Comment[pl]=Ustawienia dla wtyczki przechowywania XML
Comment[pt]=Configuração do 'plugin' de armazenamento em XML
Comment[sv]=Anpassa XML-lagringsinsticksprogram
Comment[uk]=Налаштування додатка сховища даних XML
Comment[x-test]=xxConfiguration for XML storage pluginxx
