[Desktop Entry]
Name=Weboob
Name[ca]=Weboob
Name[ca@valencia]=Weboob
Name[cs]=Weboob
Name[de]=Weboob
Name[en_GB]=Weboob
Name[es]=Weboob
Name[fi]=Weboob
Name[fr]=Weboob
Name[gl]=Weboob
Name[it]=Weboob
Name[ko]=Weboob
Name[nl]=Weboob
Name[pl]=Weboob
Name[pt]=Weboob
Name[pt_BR]=Weboob
Name[sk]=Weboob
Name[sv]=Weboob
Name[uk]=Weboob
Comment=Plugin for weboob
Comment[ca]=Connector pel Weboob
Comment[ca@valencia]=Connector pel Weboob
Comment[cs]=Modul pro weboob
Comment[de]=Modul für Weboob
Comment[en_GB]=Plugin for weboob
Comment[es]=Complemento para weboob
Comment[fi]=Weboob-liitännäinen
Comment[fr]=Module externe pour weboob
Comment[gl]=Complemento para weboob.
Comment[it]=Estensione per Weboob
Comment[ko]=Weboob 플러그인
Comment[nl]=Plug-in voor weboob
Comment[pl]=Wtyczka do weboob
Comment[pt]='Plugin' para o Weboob
Comment[pt_BR]=Plugin para o weboob
Comment[sk]=Plugin pre weboob
Comment[sv]=Insticksprogram för weboob
Comment[uk]=Додаток для роботи з weboob
ServiceTypes=KMyMoneyPlugin
Type=Service
Icon=network-connect
X-KDE-Library=kmm_weboob
X-KDE-PluginInfo-Name=Weboob
X-KDE-PluginInfo-Author=Romain Bignon
X-KDE-PluginInfo-Email=romain@weboob.org
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney.org/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
