[Desktop Entry]
Name=Weboob
Comment=Plugin for weboob
ServiceTypes=KMyMoneyPlugin
Type=Service
Icon=network-connect
X-KDE-Library=kmm_weboob
X-KDE-PluginInfo-Name=Weboob
X-KDE-PluginInfo-Author=Romain Bignon
X-KDE-PluginInfo-Email=romain@weboob.org
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney.org/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
