[Desktop Entry]
Name=Weboob
Name[ca]=Weboob
Name[es]=Weboob
Name[nl]=Weboob
Name[pl]=Weboob
Name[pt]=Weboob
Name[sv]=Weboob
Name[x-test]=xxWeboobxx
Comment=Plugin for weboob
Comment[ca]=Connector pel Weboob
Comment[es]=Complemento para weboob
Comment[nl]=Plug-in voor weboob
Comment[pl]=Wtyczka do weboob
Comment[pt]='Plugin' para o Weboob
Comment[sv]=Insticksprogram för weboob
Comment[x-test]=xxPlugin for weboobxx
ServiceTypes=KMyMoneyPlugin
Type=Service
Icon=network-connect
X-KDE-Library=kmm_weboob
X-KDE-PluginInfo-Name=Weboob
X-KDE-PluginInfo-Author=Romain Bignon
X-KDE-PluginInfo-Email=romain@weboob.org
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney.org/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
