[Desktop Entry]
Name=QIF Importer configuration
Name[ca]=Configuració de l'importador de QIF
Name[ca@valencia]=Configuració de l'importador de QIF
Name[de]=QIF-Importeinrichtung
Name[es]=Configuración del importador QIF
Name[it]=Configurazione dello strumento di importazione QIF
Name[nl]=Instellingen van QIF-importeren
Name[pl]=Ustawienia importera QIF
Name[pt]=Configuração da Importação de QIF
Name[sv]=QIF-importinställning
Name[uk]=Налаштування засобу імпортування QIF
Name[x-test]=xxQIF Importer configurationxx
Icon=document-import
Type=Service
ServiceTypes=KCModule
Exec=kcmshell5 kmm_qifimport
Categories=Qt;KDE;kmymoney;
Keywords=qifexport;kmymoney;
Keywords[ca]=qifexport;kmymoney;
Keywords[ca@valencia]=qifexport;kmymoney;
Keywords[de]=qifexport;kmymoney;
Keywords[es]=qifexport;kmymoney;
Keywords[it]=qifexport;kmymoney;
Keywords[nl]=qifexport;kmymoney;
Keywords[pl]=qifexport;kmymoney;
Keywords[pt]=exportação qif;kmymoney;
Keywords[sv]=qif-export;kmymoney;
Keywords[uk]=qifexport;kmymoney;експорт;кома;кмаймані;кіф;
Keywords[x-test]=xxqifexportxx;xxkmymoneyxx;
X-KDE-Library=kcm_kmm_qifimport
X-KDE-ParentApp=qifexport
X-KDE-ParentComponents=qifexport
Comment=Configuration for QIF Importer plugin
Comment[ca]=Configuració del connector d'importació de QIF
Comment[ca@valencia]=Configuració del connector d'importació de QIF
Comment[de]=Einrichtung des QIF-Importmoduls
Comment[es]=Configuración para el complemento de importación QIF
Comment[it]=Configurazione dell'estensione di importazione QIF
Comment[nl]=Instellingen voor plug-in voor QIF importeren
Comment[pl]=Ustawienia dla wtyczki Importera QIF
Comment[pt]=Configuração do 'plugin' de Importação de QIF
Comment[sv]=Anpassa QIF-importinsticksprogram
Comment[uk]=Налаштування додатка імпортування у форматі QIF
Comment[x-test]=xxConfiguration for QIF Importer pluginxx
