[Desktop Entry]
Type=ServiceType
Name=KMyMoney Importer Plugin
Name[ar]=ملحقة استيراد ل‍«أموالك»
Name[bs]=Dodatak za uvoz KMyMoney
Name[ca]=Connector d'importació del KMyMoney
Name[ca@valencia]=Connector d'importació del KMyMoney
Name[da]=KMyMoney import-plugin
Name[de]=KMyMoney-Import-Modul
Name[el]=Προσθετό εισαγωγής για το KMyMoney
Name[en_GB]=KMyMoney Importer Plugin
Name[es]=Complemento del importador de KMyMoney
Name[et]=KMyMoney impordiplugin
Name[eu]=KMyMoney-ren inportatzailearen plugina
Name[fi]=KMyMoney-tuontiliitännäinen
Name[fr]=Module externe d'importation de KMyMoney
Name[gl]=Complemento de importación de KMyMoney
Name[hu]=KMyMoney importálás bővítmény
Name[it]=Importatore estensioni di KMyMoney
Name[kk]=KMyMoney-дің импорттау плагині
Name[ko]=KMyMoney 가져오기 도구 플러그인
Name[mr]=के-माय-मनी आयात प्लगइन
Name[nds]=KMyMoney-Importmoduul
Name[nl]=Plugin voor importeren nar KMyMoney
Name[pl]=Wtyczka importująca dla KMyMoney
Name[pt]='Plugin' de Importação do KMyMoney
Name[pt_BR]=Plugin de importação do KMyMoney
Name[ro]=Modul pentru importarea fișierelor în KMyMoney
Name[ru]=Модуль импорта KMyMoney
Name[sk]=Importný plugin KMyMoney
Name[sv]=KMyMoney importinsticksprogram
Name[tr]=KMyMoney İçe Aktarma Eklentisi
Name[uk]=Додаток імпортування KMyMoney
Name[x-test]=xxKMyMoney Importer Pluginxx
Name[zh_CN]=KMyMoney 导入插件
Name[zh_TW]=KMyMoney 匯入器外掛程式
X-KDE-ServiceType=KMyMoneyImporterPlugin
Comment=A KMyMoney plugin
Comment[ar]=ملحقة ل‍«أموالك»
Comment[bs]=Dodatak za KMyMoney
Comment[ca]=Un connector del KMyMoney
Comment[ca@valencia]=Un connector del KMyMoney
Comment[cs]=Modul KMyMoney
Comment[da]=Et KMyMoney-plugin
Comment[de]=Ein KMyMoney-Modul
Comment[el]=Ένα πρόσθετο για το KMyMoney
Comment[en_GB]=A KMyMoney plugin
Comment[es]=Un complemento de KMyMoney
Comment[et]=KMyMoney plugin
Comment[eu]=KMyMoney-ren plugin bat
Comment[fi]=KMyMoney-liitännäinen
Comment[fr]=Un module externe de KMyMoney
Comment[gl]=Un complemento de KMyMoney
Comment[hu]=Egy KMyMoney bővítmény
Comment[it]=Un'estensione di KMyMoney
Comment[kk]=KMyMoney плагині
Comment[ko]=KMyMoney 플러그인
Comment[mr]=के-माय-मनी प्लगइन
Comment[nds]=En KMyMoney-Moduul
Comment[nl]=Een plugin voor KMyMoney
Comment[nn]=Eit KMyMoney-programtillegg
Comment[pl]=Wtyczka KMyMoney
Comment[pt]=Um 'plugin' do KMyMoney
Comment[pt_BR]=Um plugin do KMyMoney
Comment[ro]=Un modul KMyMoney
Comment[ru]=Модуль KMyMoney
Comment[sk]=Plugin KMyMoney
Comment[sv]=Ett KMyMoney insticksprogram
Comment[tr]=Bir KMyMoney eklentisi
Comment[uk]=Додаток KMyMoney
Comment[x-test]=xxA KMyMoney pluginxx
Comment[zh_CN]=一个 KMyMoney 插件
Comment[zh_TW]=KMyMoney 外掛程式

