[Desktop Entry]
Type=ServiceType
Name=KMyMoney Plugin
Name[ca]=Connector del KMyMoney
Name[cs]=Modul KMyMoney
Name[es]=Complemento de KmyMoney
Name[nl]=Plugin voor KMyMoney
Name[pt]='Plugin' do KMyMoney
Name[pt_BR]=Plugin do KMyMoney
Name[sk]=Plugin KMyMoney
Name[sv]=KMyMoney insticksprogram
Name[uk]=Додаток KMyMoney
Name[x-test]=xxKMyMoney Pluginxx
X-KDE-ServiceType=KMyMoneyPlugin
Comment=A KMyMoney plugin
Comment[ca]=Un connector del KMyMoney
Comment[cs]=Modul KMyMoney
Comment[es]=Un complemento de KMyMoney
Comment[nl]=Een plugin voor KMyMoney
Comment[pt]=Um 'plugin' do KMyMoney
Comment[pt_BR]=Um plugin do KMyMoney
Comment[sk]=Plugin KMyMoney
Comment[sv]=Ett KMyMoney insticksprogram
Comment[uk]=Додаток KMyMoney
Comment[x-test]=xxA KMyMoney pluginxx

