[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KMyMoney/OnlineTaskUi
Name=Form to edit online orders/tasks
Name[nl]=Formulier om online betalingen/taken te bewerken
Name[pl]=Formularz do edytowania w sieci zamówień/zadań
Name[pt]=Formulário para editar as encomendas/tarefas 'online'
Name[pt_BR]=Formulário para editar as encomendas/tarefas online
Name[sk]=Formulár na úpravu online objednávok/úloh
Name[sv]=Formulär för att redigera nätbeställningar och uppgifter
Name[uk]=Форма для редагування інтернет-векселів або завдань
Name[x-test]=xxForm to edit online orders/tasksxx

[PropertyDef::X-KMyMoney-onlineTaskIds]
Type=QStringList
# A list of onlineTask ids which can be edited by this ui
