[Desktop Entry]
Type=ServiceType
Name=KMyMoney Plugin
Name[x-test]=xxKMyMoney Pluginxx
X-KDE-ServiceType=KMyMoneyPlugin
Comment=A KMyMoney plugin
Comment[x-test]=xxA KMyMoney pluginxx

