[Desktop Entry]
Type=ServiceType
Name=KMyMoney Importer Plugin
Name[nl]=Plugin voor importeren nar KMyMoney
Name[pt]='Plugin' de Importação do KMyMoney
Name[sk]=Importný plugin KMyMoney
Name[uk]=Додаток імпортування KMyMoney
Name[x-test]=xxKMyMoney Importer Pluginxx
X-KDE-ServiceType=KMyMoneyImporterPlugin
Comment=A KMyMoney plugin
Comment[nl]=Een plugin voor KMyMoney
Comment[pt]=Um 'plugin' do KMyMoney
Comment[sk]=Plugin KMyMoney
Comment[uk]=Додаток KMyMoney
Comment[x-test]=xxA KMyMoney pluginxx

