[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KMyMoney/OnlineTaskUi
Name=Form to edit online orders/tasks
Name[ca]=Formulari per editar ordres/tasques en línia
Name[ca@valencia]=Formulari per editar ordres/tasques en línia
Name[de]=Formular zur Bearbeitung von Bestellungen/Aufgaben
Name[en_GB]=Form to edit online orders/tasks
Name[es]=Formulario para editar ordenes/tareas en línea
Name[fi]=Verkkotilausten ja -tehtävien muokkauslomake
Name[fr]=Formulaire d'édition des tâches et des ordres en ligne
Name[gl]=Formulario para editar solicitudes ou tarefas por Internet
Name[it]=Modulo per modificare in linea ordini/operazioni
Name[ko]=온라인 주문/작업 편집 플러그인
Name[nl]=Formulier om online orders/taken te bewerken
Name[pl]=Formularz do edytowania w sieci zamówień/zadań
Name[pt]=Formulário para editar as encomendas/tarefas 'online'
Name[pt_BR]=Formulário para editar as encomendas/tarefas online
Name[sk]=Formulár na úpravu online objednávok/úloh
Name[sv]=Formulär för att redigera nätbeställningar och uppgifter
Name[uk]=Форма для редагування інтернет-векселів або завдань

[PropertyDef::X-KMyMoney-onlineTaskIds]
Type=QStringList
# A list of onlineTask ids which can be edited by this ui
