[Desktop Entry]
Type=ServiceType
Name=KMyMoney Importer Plugin
Name[ca]=Endolable d'importació del KMyMoney
Name[da]=KMyMoney import-plugin
Name[de]=KMyMoney-Import-Modul
Name[el]=Προσθετό εισαγωγής για το KMyMoney
Name[en_GB]=KMyMoney Importer Plugin
Name[es]=Complemento del importador de KMyMoney
Name[eu]=KMyMoney-ren inportatzeko plugina
Name[fr]=Module d'importation de KMyMoney
Name[it]=Importatore estensioni di KMyMoney
Name[nl]=Plugin voor importeren nar KMyMoney
Name[pt]='Plugin' de Importação do KMyMoney
Name[pt_BR]=Plug-in de importação do KMyMoney
Name[sv]=Kmymoney importinsticksprogram
Name[uk]=Додаток імпортування KMyMoney
Name[x-test]=xxKMyMoney Importer Pluginxx
X-KDE-ServiceType=KMyMoneyImporterPlugin
Comment=A KMyMoney plugin
Comment[ca]=Un endollable de KMyMoney
Comment[cs]=Modul KMyMoney
Comment[da]=Et KMyMoney-plugin
Comment[de]=Ein KMyMoney-Modul
Comment[el]=Ένα πρόσθετο για το KMyMoney
Comment[en_GB]=A KMyMoney plugin
Comment[es]=Un complemento de KMyMoney
Comment[eu]=KMyMoney-ren plugin bat
Comment[fr]=Un module de KMyMoney
Comment[it]=Un'estensione di KMyMoney
Comment[nl]=Een plugin voor KMyMoney
Comment[pt]=Um 'plugin' do KMyMoney
Comment[pt_BR]=Um plug-in do KMyMoney
Comment[sv]=Ett Kmymoney insticksprogram
Comment[uk]=Додаток KMyMoney
Comment[x-test]=xxA KMyMoney pluginxx

