[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KMyMoney/PayeeIdentifierDelegate
Name=Painter of payee identifier
Name[ca]=Pintor de la identificació del beneficiari
Name[ca@valencia]=Pintor de la identificació del beneficiari
Name[es]=Pintor del identificador del beneficiario
Name[it]=Disegnatore dell'identificatore del beneficiario
Name[nl]=Tonen van identificatie van begunstigde
Name[pl]=Malarz identyfikatora odbiorcy
Name[pt]=Pintor do identificador do beneficiário
Name[sv]=Uppritning av betalningsmottagarens identifierare
Name[x-test]=xxPainter of payee identifierxx

[PropertyDef::X-KMyMoney-payeeIdentifierIds]
Type=QStringList
# A list of payeeIdentifier ids which can be viewed/edited by this delegate
