[Desktop Entry]
Type=ServiceType
Name=KMyMoney Importer Plugin
Name[x-test]=xxKMyMoney Importer Pluginxx
X-KDE-ServiceType=KMyMoneyImporterPlugin
Comment=A KMyMoney plugin
Comment[x-test]=xxA KMyMoney pluginxx

