[Desktop Entry]
Type=ServiceType
Name=KMyMoney Plugin
Name[ca]=Endollable de KMyMoney
Name[ca@valencia]=Endollable de KMyMoney
Name[cs]=Modul KMyMoney
Name[da]=KMyMoney-plugin
Name[de]=KMyMoney-Modul
Name[el]=Πρόσθετο KMyMoney
Name[en_GB]=KMyMoney Plugin
Name[es]=Complemento de KmyMoney
Name[eu]=KMyMoney Plugina
Name[fr]=Module KMyMoney
Name[it]=Estensione di KMyMoney
Name[nds]=KMyMoney-Moduul
Name[nl]=Plugin voor KMyMoney
Name[pl]=Wtyczka KMyMoney
Name[pt]='Plugin' do KMyMoney
Name[pt_BR]=Plug-in do KMyMoney
Name[ro]=Modul KMyMoney
Name[ru]=Модуль KMyMoney
Name[sv]=Kmymoney insticksprogram
Name[uk]=Додаток KMyMoney
Name[x-test]=xxKMyMoney Pluginxx
Name[zh_CN]=KMyMoney 插件
Name[zh_TW]=KMyMoney 外掛程式
X-KDE-ServiceType=KMyMoneyPlugin
Comment=A KMyMoney plugin
Comment[ca]=Un endollable de KMyMoney
Comment[ca@valencia]=Un endollable de KMyMoney
Comment[cs]=Modul KMyMoney
Comment[da]=Et KMyMoney-plugin
Comment[de]=Ein KMyMoney-Modul
Comment[el]=Ένα πρόσθετο για το KMyMoney
Comment[en_GB]=A KMyMoney plugin
Comment[es]=Un complemento de KMyMoney
Comment[eu]=KMyMoney-ren plugin bat
Comment[fr]=Un module de KMyMoney
Comment[it]=Un'estensione di KMyMoney
Comment[nds]=En KMyMoney-Moduul
Comment[nl]=Een plugin voor KMyMoney
Comment[pl]=Wtyczka KMyMoney
Comment[pt]=Um 'plugin' do KMyMoney
Comment[pt_BR]=Um plug-in do KMyMoney
Comment[ro]=Un modul KMyMoney
Comment[ru]=Модуль KMyMoney
Comment[sv]=Ett Kmymoney insticksprogram
Comment[uk]=Додаток KMyMoney
Comment[x-test]=xxA KMyMoney pluginxx
Comment[zh_TW]=KMyMoney 外掛程式

