[Desktop Entry]
Type=ServiceType
Name=KMyMoney Plugin
Name[bs]=KMyMoney dodatak
Name[ca]=Connector del KMyMoney
Name[ca@valencia]=Connector del KMyMoney
Name[cs]=Modul KMyMoney
Name[da]=KMyMoney-plugin
Name[de]=KMyMoney-Modul
Name[el]=Πρόσθετο KMyMoney
Name[en_GB]=KMyMoney Plugin
Name[es]=Complemento de KmyMoney
Name[et]=KMyMoney plugin
Name[eu]=KMyMoney-ren plugina
Name[fi]=KMyMoney-liitännäinen
Name[fr]=Module externe KMyMoney
Name[gl]=Complemento de KMyMoney
Name[hu]=KMyMoney bővítmény
Name[it]=Estensione di KMyMoney
Name[kk]=KMyMoney плагині
Name[mr]=के-माय-मनी प्लगइन
Name[nds]=KMyMoney-Moduul
Name[nl]=Plugin voor KMyMoney
Name[pl]=Wtyczka KMyMoney
Name[pt]='Plugin' do KMyMoney
Name[pt_BR]=Plugin do KMyMoney
Name[ro]=Modul KMyMoney
Name[ru]=Модуль KMyMoney
Name[sk]=Plugin KMyMoney
Name[sv]=Kmymoney insticksprogram
Name[tr]=KMyMoney Eklentisi
Name[uk]=Додаток KMyMoney
Name[x-test]=xxKMyMoney Pluginxx
Name[zh_CN]=KMyMoney 插件
Name[zh_TW]=KMyMoney 外掛程式
X-KDE-ServiceType=KMyMoneyPlugin
Comment=A KMyMoney plugin
Comment[bs]=Dodatak za KMyMoney
Comment[ca]=Un connector del KMyMoney
Comment[ca@valencia]=Un connector del KMyMoney
Comment[cs]=Modul KMyMoney
Comment[da]=Et KMyMoney-plugin
Comment[de]=Ein KMyMoney-Modul
Comment[el]=Ένα πρόσθετο για το KMyMoney
Comment[en_GB]=A KMyMoney plugin
Comment[es]=Un complemento de KMyMoney
Comment[et]=KMyMoney plugin
Comment[eu]=KMyMoney-ren plugin bat
Comment[fi]=KMyMoney-liitännäinen
Comment[fr]=Un module externe de KMyMoney
Comment[gl]=Un complemento de KMyMoney
Comment[hu]=Egy KMyMoney bővítmény
Comment[it]=Un'estensione di KMyMoney
Comment[kk]=KMyMoney плагині
Comment[ko]=KMyMoney 플러그인
Comment[mr]=के-माय-मनी प्लगइन
Comment[nds]=En KMyMoney-Moduul
Comment[nl]=Een plugin voor KMyMoney
Comment[pl]=Wtyczka KMyMoney
Comment[pt]=Um 'plugin' do KMyMoney
Comment[pt_BR]=Um plugin do KMyMoney
Comment[ro]=Un modul KMyMoney
Comment[ru]=Модуль KMyMoney
Comment[sk]=Plugin KMyMoney
Comment[sv]=Ett Kmymoney insticksprogram
Comment[tr]=Bir KMyMoney eklentisi
Comment[uk]=Додаток KMyMoney
Comment[x-test]=xxA KMyMoney pluginxx
Comment[zh_TW]=KMyMoney 外掛程式

