[Desktop Entry]
Name=KMyMoney
Name[cs]=KMyMoney
Name[da]=KMyMoney
Name[de]=KMyMoney
Name[en_GB]=KMyMoney
Name[es]=KMyMoney
Name[eu]=KMyMoney
Name[fr]=KMyMoney
Name[it]=KMyMoney
Name[nds]=KMyMoney
Name[nl]=KMyMoney
Name[pt]=KMyMoney
Name[pt_BR]=KMyMoney
Name[sv]=KMyMoney
Name[uk]=KMyMoney
Name[x-test]=xxKMyMoneyxx
GenericName=Personal Finance Manager
GenericName[cs]=Osobní správce financí
GenericName[da]=Styring af privatøkonomi
GenericName[de]=Persönlicher Finanzmanager
GenericName[en_GB]=Personal Finance Manager
GenericName[es]=Gestor de finanzas personales
GenericName[eu]=Finantza pertsonalen kudeatzailea
GenericName[fr]=Gestionnaire de finances personnelles
GenericName[it]=Gestore delle finanze personali
GenericName[nds]=Geldsaken plegen
GenericName[nl]=Persoonlijk financieel beheer
GenericName[pt]=Gestor de Finanças Pessoais
GenericName[pt_BR]=Gerenciador de finanças pessoais
GenericName[sv]=Personlig ekonomihantering
GenericName[uk]=Особисте керування фінансами
GenericName[x-test]=xxPersonal Finance Managerxx
Exec=kmymoney %u
Comment=Personal Finance Manager
Comment[cs]=Správce financí
Comment[da]=Styring af privatøkonomi
Comment[de]=Persönlicher Finanzmanager
Comment[en_GB]=Personal Finance Manager
Comment[es]=Gestor de finanzas personales
Comment[eu]=Finantza pertsonalen kudeatzailea
Comment[fr]=Gestionnaire de finances personnelles
Comment[it]=Gestore delle finanze personali
Comment[nds]=Geldsaken plegen
Comment[nl]=Persoonlijk financieel beheerder
Comment[pt]=Gestor de Finanças Pessoais
Comment[pt_BR]=Gerenciador de finanças pessoais
Comment[sv]=Personlig ekonomihantering
Comment[uk]=Особисте керування фінансами
Comment[x-test]=xxPersonal Finance Managerxx
MimeType=application/x-kmymoney;application/vnd.intu.qfx;application/x-ofx;
Type=Application
X-DocPath=kmymoney/index.html
Icon=kmymoney
Categories=Office;Finance;
