[Desktop Entry]
Name=QIF Importer configuration
Name[ca]=Configuració de l'importador de QIF
Name[ca@valencia]=Configuració de l'importador de QIF
Name[cs]=Nastavení importu QIF
Name[de]=QIF-Importeinrichtung
Name[en_GB]=QIF Importer configuration
Name[es]=Configuración del importador QIF
Name[it]=Configurazione dello strumento di importazione QIF
Name[nl]=Instellingen van QIF-importeren
Name[pl]=Ustawienia importera QIF
Name[pt]=Configuração da Importação de QIF
Name[sv]=QIF-importinställning
Name[tr]=QIF İçe Aktarıcı yapılandırması
Name[uk]=Налаштування засобу імпортування QIF
Name[x-test]=xxQIF Importer configurationxx
Icon=document-import
Type=Service
ServiceTypes=KCModule
Exec=kcmshell5 qifexporter
Categories=Qt;KDE;kmymoney;
Keywords=qifexporter;kmymoney;
Keywords[ca]=qifexporter;kmymoney;
Keywords[ca@valencia]=qifexporter;kmymoney;
Keywords[en_GB]=qifexporter;kmymoney;
Keywords[nl]=qifexporter;kmymoney;
Keywords[pt]=exportação qif;kmymoney;
Keywords[uk]=qifexporter;kmymoney;експорт;кома;кмаймані;кіф;
Keywords[x-test]=xxqifexporterxx;xxkmymoneyxx;
X-KDE-Library=kcm_qif
X-KDE-ParentApp=qifexporter
X-KDE-ParentComponents=qifexporter
Comment=Configuration for QIF Importer plugin
Comment[ca]=Configuració del connector d'importació de QIF
Comment[ca@valencia]=Configuració del connector d'importació de QIF
Comment[cs]=Nastavení modulu pro import QIF
Comment[de]=Einrichtung des QIF-Importmoduls
Comment[en_GB]=Configuration for QIF Importer plugin
Comment[es]=Configuración para el complemento de importación QIF
Comment[it]=Configurazione dell'estensione di importazione QIF
Comment[nl]=Instellingen voor plug-in voor QIF importeren
Comment[pl]=Ustawienia dla wtyczki Importera QIF
Comment[pt]=Configuração do 'plugin' de Importação de QIF
Comment[sv]=Anpassa QIF-importinsticksprogram
Comment[tr]=QIF İçe Aktarıcı eklentisi için yapılandırma
Comment[uk]=Налаштування додатка імпортування у форматі QIF
Comment[x-test]=xxConfiguration for QIF Importer pluginxx
