[Desktop Entry]
Name=QIF Im-/Exporter configuration
Icon=document-import
Type=Service
X-KDE-ServiceTypes=KCModule
Categories=Qt;KDE;kmymoney;
Keywords=qifimporter;qifexporter;kmymoney;
X-KDE-Library=kmymoney/kcm_qif
X-KDE-ParentApp=kmymoney
X-KDE-ParentComponents=qifimporter,qifexporter
Comment=Configuration for QIF Im- and Exporter plugin
