[Desktop Entry]
Name=QIF Importer configuration
Name[x-test]=xxQIF Importer configurationxx
Icon=document-import
Type=Service
ServiceTypes=KCModule
Exec=kcmshell5 kmm_qifimport
Categories=Qt;KDE;kmymoney;
Keywords=qifimport;kmymoney;
Keywords[x-test]=xxqifimportxx;xxkmymoneyxx;
X-KDE-Library=kcm_kmm_qif
X-KDE-ParentApp=qifimport
X-KDE-ParentComponents=qifimport
Comment=Configuration for QIF Importer plugin
Comment[x-test]=xxConfiguration for QIF Importer pluginxx
