[Desktop Entry]
Name=QIF Importer configuration
Icon=document-import
Type=Service
ServiceTypes=KCModule
Exec=kcmshell5 kmm_qifexport
Categories=Qt;KDE;kmymoney;
Keywords=qifexport;kmymoney;
X-KDE-Library=kcm_kmm_qif
X-KDE-ParentApp=qifexport
X-KDE-ParentComponents=qifexport
Comment=Configuration for QIF Importer plugin
