[Desktop Entry]
Name=QIF Importer configuration
Name[ca]=Configuració de l'importador de QIF
Name[ca@valencia]=Configuració de l'importador de QIF
Name[es]=Configuración del importador QIF
Name[it]=Configurazione dello strumento di importazione QIF
Name[nl]=Instellingen van QIF-importeren
Name[pl]=Ustawienia importera QIF
Name[pt]=Configuração da Importação de QIF
Name[sv]=QIF-importinställning
Name[uk]=Налаштування засобу імпортування QIF
Name[x-test]=xxQIF Importer configurationxx
Icon=document-import
Type=Service
ServiceTypes=KCModule
Exec=kcmshell5 kmm_qifimport
Categories=Qt;KDE;kmymoney;
Keywords=qifimport;kmymoney;
Keywords[ca]=qifimport;kmymoney;
Keywords[ca@valencia]=qifimport;kmymoney;
Keywords[es]=qifimport;kmymoney;
Keywords[it]=qifimport;kmymoney;
Keywords[nl]=qifimport;kmymoney;
Keywords[pl]=qifimport;kmymoney;
Keywords[pt]=importação qif;kmymoney;
Keywords[sv]=qif-import;kmymoney;
Keywords[uk]=qifimport;kmymoney;імпортування;кіф;кмаймані;
Keywords[x-test]=xxqifimportxx;xxkmymoneyxx;
X-KDE-Library=kcm_kmm_qif
X-KDE-ParentApp=qifimport
X-KDE-ParentComponents=qifimport
Comment=Configuration for QIF Importer plugin
Comment[ca]=Configuració del connector d'importació de QIF
Comment[ca@valencia]=Configuració del connector d'importació de QIF
Comment[es]=Configuración para el complemento de importación QIF
Comment[it]=Configurazione dell'estensione di importazione QIF
Comment[nl]=Instellingen voor plug-in voor QIF importeren
Comment[pl]=Ustawienia dla wtyczki Importera QIF
Comment[pt]=Configuração do 'plugin' de Importação de QIF
Comment[sv]=Anpassa QIF-importinsticksprogram
Comment[uk]=Налаштування додатка імпортування у форматі QIF
Comment[x-test]=xxConfiguration for QIF Importer pluginxx
