[Desktop Entry]
Name=Forecast view configuration
Icon=forecast
Type=Service
ServiceTypes=KCModule
Exec=kcmshell5 forecastview
Categories=Qt;KDE;kmymoney;
Keywords=forecastview;kmymoney;
X-KDE-Library=kmymoney/kcm_forecastview
X-KDE-ParentApp=forecastview
X-KDE-ParentComponents=forecastview
Comment=Configuration for forecast view plugin
