[Desktop Entry]
Name=KMyMoney OFX
Name[bs]=KMyMoney OFX
Name[ca]=KMyMoney OFX
Name[ca@valencia]=KMyMoney OFX
Name[cs]=KMyMoney OFX
Name[da]=KMyMoney OFX
Name[de]=KMyMoney OFX
Name[el]=KMyMoney OFX
Name[en_GB]=KMyMoney OFX
Name[es]=KMyMoney OFX
Name[et]=KMyMoney OFX
Name[eu]=KMyMoney OFX
Name[fi]=KMyMoney OFX
Name[fr]=OFX KMyMoney
Name[gl]=KMyMoney OFX
Name[hu]=KMyMoney OFX
Name[it]=KMyMoney OFX
Name[kk]=KMyMoney OFX
Name[ko]=KMyMoney OFX
Name[mr]=के-माय-मनी ओएफएक्स
Name[nds]=KMyMoney-OFX
Name[nl]=KMyMoney OFX
Name[pl]=KMyMoney OFX
Name[pt]=OFX do KMyMoney
Name[pt_BR]=OFX do KMyMoney
Name[ro]=KMyMoney OFX
Name[ru]=Модуль OFX для KMyMoney
Name[sk]=KMyMoney OFX
Name[sv]=Kmymoney OFX
Name[tr]=KMyMoney OFX
Name[uk]=OFX KMyMoney
Name[zh_CN]=KMyMoney OFX
Name[zh_TW]=KMyMoney OFX
Comment=Add OFX importing to KMyMoney
Comment[bs]=Dodaj OFX uvoz za KMyMoney
Comment[ca]=Afegeix la importació OFX al KMyMoney
Comment[ca@valencia]=Afig la importació OFX al KMyMoney
Comment[da]=Føj OFX-import til KMyMoney
Comment[de]=Fügt OFX-Import zu KMyMoney hinzu
Comment[el]=Προσθήκη του εργαλείου εισαγωγής αρχείων OFX στο KMyMoney
Comment[en_GB]=Add OFX importing to KMyMoney
Comment[es]=Añade la importación de OFX a KMyMoney
Comment[et]=OFX import KMyMoneysse
Comment[eu]=Erantsi OFX-ren inportazioa KMyMoney-ri
Comment[fi]=Lisää OFX-tuonti KMyMoney-ohjelmaan
Comment[fr]=Ajoute l'importation « OFX » à KMyMoney
Comment[gl]=Engadir importación de OFX a KMyMoney
Comment[hu]=OFX hozzáadása a KMyMoney-ba importáláshoz
Comment[it]=Aggiungi l'importazione OFX a KMyMoney
Comment[kk]=KMyMoney-ге OFX импорттауын қосу
Comment[ko]=KMyMoney에 OFX 가져오기 추가
Comment[nds]=OFX-Import för KMyMoney
Comment[nl]=Voeg OFX importeren toe aan KMyMoney
Comment[pl]=Dodaje importowanie OFX do KMyMoney
Comment[pt]=Adiciona a importação de OFX ao KMyMoney
Comment[pt_BR]=Adiciona a importação de OFX ao KMyMoney
Comment[ro]=Importă fișiere OFX în KMyMoney
Comment[ru]=Импорт из OFX в KMyMoney
Comment[sk]=Pridať OFX import do KMyMoney
Comment[sv]=Lägg till OFX-import till Kmymoney
Comment[tr]=KMyMoney'e OFX aktarımı ekle
Comment[uk]=Додає можливість імпортування OFX до KMyMoney
Comment[zh_TW]=匯入 OFX 檔到 KMyMoney
ServiceTypes=KMyMoneyPlugin
Type=Service
Icon=network-connect
X-KDE-Library=kmm_ofximport
X-KDE-PluginInfo-Name=KMyMoney OFX
X-KDE-PluginInfo-Author=Ace Jones,Thomas Baumgart
X-KDE-PluginInfo-Email=acejones@users.sourceforge.net,ipwizard@users.sourceforge.net
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney.org/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
