<!DOCTYPE kpartgui>
<kpartgui name="kmymoneyplugin-qifimporter" version="0">
  <MenuBar>
    <Menu name="file">
      <Menu name="import" append="import_merge">
        <Action name="file_import_qif" />
      </Menu>
    </Menu>
  </MenuBar>
</kpartgui>
