[Desktop Entry]
Name=csvexport
Name[da]=csvexport
Name[de]=CSV-Export
Name[el]=Εξαγωγή csv
Name[es]=csvexport
Name[fi]=csvexport
Name[it]=csvexport
Name[nl]=csvexport
Name[pt]=csvexport
Name[pt_BR]=csvexport
Name[sk]=csvexport
Name[sv]=CSV-export
Name[uk]=csvexport
Name[x-test]=xxcsvexportxx
Name[zh_TW]=csvexport
Comment=Add CSV exporting to KMyMoney
Comment[da]=Føj CSV-eksport til KMyMoney
Comment[de]=Fügt CSV-Export zu KMyMoney hinzu
Comment[el]=Προσθήκη της εξαγωγής CSV στο KMyMoney
Comment[es]=Añade la exportación a CSV a KMyMoney
Comment[fi]=Lisää CSV-vienti KMyMoney-ohjelmaan
Comment[it]=Aggiungi l'esportazione CSV a KMyMoney
Comment[nl]=Voeg CSV exporteren toe aan KMyMoney
Comment[pt]=Adição da exportação de CSV ao KMyMoney
Comment[pt_BR]=Adiciona a exportação de CSV ao KMyMoney
Comment[sk]=Pridať CSV exportovanie do KMyMoney
Comment[sv]=Lägg till CSV-export till Kmymoney
Comment[uk]=Додає можливість експортування CSV з KMyMoney
Comment[x-test]=xxAdd CSV exporting to KMyMoneyxx
Comment[zh_TW]=匯入 CSV 檔到 KMyMoney
ServiceTypes=KMyMoneyPlugin
Type=Service
Icon=document-export
X-KDE-Library=kmm_csvexport
X-KDE-PluginInfo-Name=csvexport
X-KDE-PluginInfo-Author=Allan Anderson
X-KDE-PluginInfo-Email=aganders93@gmail.com
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney.org/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
