[Desktop Entry]
Name=csvexport
Name[bs]=csvexport
Name[ca]=csvexport
Name[ca@valencia]=csvexport
Name[cs]=csvexport
Name[da]=csvexport
Name[de]=CSV-Export
Name[el]=Εξαγωγή csv
Name[en_GB]=csvexport
Name[es]=csvexport
Name[et]=CSV eksport
Name[eu]=csvexport
Name[fi]=csvexport
Name[fr]=Exportation « csv »
Name[gl]=csvexport
Name[hu]=csvexport
Name[it]=csvexport
Name[kk]=csvexport
Name[nl]=csvexport
Name[pl]=csveksport
Name[pt]=csvexport
Name[pt_BR]=csvexport
Name[ro]=csvexport
Name[ru]=csvexport
Name[sk]=csvexport
Name[sv]=CSV-export
Name[tr]=csvexport
Name[uk]=csvexport
Name[x-test]=xxcsvexportxx
Name[zh_TW]=csvexport
Comment=Add CSV exporting to KMyMoney
Comment[bs]=Dodaje CSV izvoz KMyMoney
Comment[ca]=Afegeix l'exportació CSV al KMyMoney
Comment[ca@valencia]=Afig l'exportació CSV al KMyMoney
Comment[da]=Føj CSV-eksport til KMyMoney
Comment[de]=Fügt CSV-Export zu KMyMoney hinzu
Comment[el]=Προσθήκη της εξαγωγής CSV στο KMyMoney
Comment[en_GB]=Add CSV exporting to KMyMoney
Comment[es]=Añade la exportación a CSV a KMyMoney
Comment[et]=CSV eksport KMyMoneysse
Comment[eu]=Erantsi CSV-ren esportazioa KMyMoney-ri
Comment[fi]=Lisää CSV-vienti KMyMoney-ohjelmaan
Comment[fr]=Ajoute l'exportation « CSV » à KMyMoney
Comment[gl]=Engade exportación a CSV a KMyMoney
Comment[hu]=CSV hozzáadása a KMyMoney-ba exportáláshoz
Comment[it]=Aggiungi l'esportazione CSV a KMyMoney
Comment[kk]=KMyMoney-ге CSV файлды экспорттап қосу
Comment[nl]=Voeg CSV exporteren toe aan KMyMoney
Comment[pl]=Dodaje eksportowanie CSV do KMyMoney
Comment[pt]=Adição da exportação de CSV ao KMyMoney
Comment[pt_BR]=Adiciona a exportação de CSV ao KMyMoney
Comment[ro]=Exportă fișier csv (câmpuri separate de virgulă) din KMyMoney
Comment[ru]=Экспорт CSV из KMyMoney
Comment[sk]=Pridať CSV exportovanie do KMyMoney
Comment[sv]=Lägg till CSV-export till Kmymoney
Comment[tr]=KMyMoney'e CSV aktarımı ekle
Comment[uk]=Додає можливість експортування CSV з KMyMoney
Comment[x-test]=xxAdd CSV exporting to KMyMoneyxx
Comment[zh_TW]=匯入 CSV 檔到 KMyMoney
ServiceTypes=KMyMoneyPlugin
Type=Service
Icon=document-export
X-KDE-Library=kmm_csvexport
X-KDE-PluginInfo-Name=csvexport
X-KDE-PluginInfo-Author=Allan Anderson
X-KDE-PluginInfo-Email=aganders93@gmail.com
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney.org/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
