[Desktop Entry]
Type=ServiceType
Name=KMyMoney Plugin
Name[et]=KMyMoney plugin
Name[fr]=Module KMyMoney
Name[gl]=Extensión de KMyMoney
Name[km]=កម្មវិធី​ជំនួយ KMyMoney
Name[pt]='Plugin' do KMyMoney
Name[pt_BR]='Plugin' do KMyMoney
Name[ro]=Modul KMyMoney
Name[sv]=Kmymoney insticksprogram
Name[uk]=Додаток KMyMoney
Name[x-test]=xxKMyMoney Pluginxx
Name[zh_TW]=KMyMoney 外掛程式
X-KDE-ServiceType=KMyMoneyPlugin
Comment=A KMyMoney plugin
Comment[et]=KMyMoney plugin
Comment[fr]=Un module pour KMyMoney
Comment[gl]=Unha extensión de KMyMoney
Comment[km]=កម្មវិធី​ជំនួយ KMyMoney
Comment[pt]=Um 'plugin' do KMyMoney
Comment[pt_BR]=Um 'plugin' do KMyMoney
Comment[ro]=Un modul KMyMoney
Comment[sv]=Ett Kmymoney insticksprogram
Comment[uk]=Додаток KMyMoney
Comment[x-test]=xxA KMyMoney pluginxx
Comment[zh_TW]=KMyMoney 外掛程式

