[Desktop Entry]
Type=ServiceType
Name=KMyMoney Importer Plugin
Name[en_GB]=KMyMoney Importer Plugin
Name[et]=KMyMoney impordiplugin
Name[fr]=Module d'import pour KMyMoney
Name[gl]=Extensión de importación de KMyMoney
Name[km]=កម្មវិធី​ជំនួយ​របស់​កម្មវិធី​នាំចូល KMyMoney
Name[pt]='Plugin' de Importação do KMyMoney
Name[pt_BR]=Plug-in de importação do KMyMoney
Name[ro]=Modul importator KMyMoney
Name[sv]=Kmymoney importinsticksprogram
Name[tr]=KMyMoney İçeriye Aktarma Eklentisi
Name[uk]=Додаток імпортування KMyMoney
Name[x-test]=xxKMyMoney Importer Pluginxx
Name[zh_TW]=KMyMoney 匯入外掛程式
X-KDE-ServiceType=KMyMoneyImporterPlugin
Comment=A KMyMoney plugin
Comment[en_GB]=A KMyMoney plugin
Comment[et]=KMyMoney plugin
Comment[fr]=Un module pour KMyMoney
Comment[gl]=Unha extensión de KMyMoney
Comment[km]=កម្មវិធី​ជំនួយ KMyMoney
Comment[pt]=Um 'plugin' do KMyMoney
Comment[pt_BR]=Um plug-in do KMyMoney
Comment[ro]=Un modul KMyMoney
Comment[sv]=Ett Kmymoney insticksprogram
Comment[tr]=Bir KMyMoney eklentisi
Comment[uk]=Додаток KMyMoney
Comment[x-test]=xxA KMyMoney pluginxx
Comment[zh_TW]=KMyMoney 外掛程式

