[Desktop Entry]
Type=ServiceType
Name=KMyMoney Plugin
Name[gl]=Extensión de KMyMoney
Name[pt]='Plugin' do KMyMoney
Name[pt_BR]='Plugin' do KMyMoney
Name[sv]=Kmymoney insticksprogram
Name[uk]=Додаток KMyMoney
X-KDE-ServiceType=KMyMoneyPlugin
Comment=A KMyMoney plugin
Comment[gl]=Unha extensión de KMyMoney
Comment[pt]=Um 'plugin' do KMyMoney
Comment[pt_BR]=Um 'plugin' do KMyMoney
Comment[sv]=Ett Kmymoney insticksprogram
Comment[uk]=Додаток KMyMoney

