[Desktop Entry]
Name=Configure the print check plugin
Name[en_GB]=Configure the print cheque plugin
Name[pt]=Configurar o 'plugin' de impressão de cheques
Name[sv]=Anpassa insticksprogrammet för utskrift av checkar
Name[uk]=Налаштувати додаток друку чеків
Name[x-test]=xxConfigure the print check pluginxx
Icon=document-print
Type=Service
ServiceTypes=KCModule
Exec=kcmshell kmm_printcheck
Categories=QT;KDE;kmymoney;
Keywords=printcheck;kmymoney
Keywords[en_GB]=printcheque;kmymoney
Keywords[pt]=printcheck;kmymoney
Keywords[sv]=checkutskrift;kmymoney
Keywords[uk]=printcheck;kmymoney
Keywords[x-test]=xxprintcheck;kmymoneyxx
X-KDE-Library=kcm_kmm_printcheck
X-KDE-ParentApp=Print check
X-KDE-ParentComponents=Print check
Comment=Permits the configuration of the print check plugin's options
Comment[en_GB]=Permits the configuration of the print cheque plugin's options
Comment[pt]=Permite a configuração das opções do 'plugin' de impressão de cheques
Comment[sv]=Tillåter inställning av alternativ för insticksprogrammet för utskrift av checkar
Comment[uk]=Надає змогу налаштовувати параметри додатка друку чеків
Comment[x-test]=xxPermits the configuration of the print check plugin's optionsxx
