[Desktop Entry]
Name=Configure the print check plugin
Name[bs]=Konfiguriši dodatak za provjeru štampe
Name[ca]=Configura el connector d'impressió de xecs
Name[ca@valencia]=Configura el connector d'impressió de xecs
Name[da]=Indstil plugin til udskrift af checks
Name[de]=Das Modul zum Drucken von Schecks konfigurieren
Name[el]=Ρύθμιση του πρόσθετου εκτύπωσης επιταγών
Name[en_GB]=Configure the print cheque plugin
Name[es]=Configurar el complemento de impresión de cheques
Name[et]=Tšeki trükkimise plugina seadistamine
Name[eu]=Konfiguratu txekeak inprimatzeko plugina
Name[fi]=Aseta tulosta shekki -liitännäinen
Name[fr]=Configurer le module externe pour l'impression de chèques
Name[gl]=Configurar o complemento de impresión de cheques
Name[hu]=A nyomtatás-ellenőrző bővítmény beállítása
Name[it]=Configura l'estensione di stampa assegni
Name[kk]=Чекті басып шығару плагинін баптау
Name[ko]=수표 발행 플러그인 설정
Name[nds]=Scheckdruck-Moduul instellen
Name[nl]=De plugin voor printen van een cheque instellen
Name[pl]=Ustawienia wtyczki wydruku czeku
Name[pt]=Configura o 'plugin' de impressão de cheques
Name[pt_BR]=Configura o plugin de impressão de cheques
Name[ro]=Configurază modulul pentru tipărirea cecurilor
Name[ru]=Настройка модуля печати чеков
Name[sk]=Nastaviť plugin tlače šekov
Name[sv]=Anpassa insticksprogrammet för utskrift av checkar
Name[tr]=Çek yazdırma eklentisini yapılandır
Name[uk]=Налаштувати додаток друку чеків
Name[zh_TW]=設定列印支票外掛程式
Icon=document-print
Type=Service
ServiceTypes=KCModule
Exec=kcmshell4 kmm_printcheck
Categories=Qt;KDE;kmymoney;
Keywords=printcheck;kmymoney;
Keywords[bs]=printcheck;kmymoney;
Keywords[ca]=impressió de xec;kmymoney;
Keywords[ca@valencia]=impressió de xec;kmymoney;
Keywords[cs]=printcheck;kmymoney;
Keywords[da]=printcheck;kmymoney;
Keywords[de]=printcheck;kmymoney;
Keywords[el]=printcheck;kmymoney;
Keywords[en_GB]=printcheque;kmymoney;
Keywords[es]=printcheck;kmymoney;
Keywords[et]=tšeki trükkimine,kmymoney;
Keywords[eu]=printcheck;kmymoney;
Keywords[fi]=printcheck;kmymoney;
Keywords[fr]=printcheck;kmymoney;
Keywords[gl]=printcheck;kmymoney;cheque
Keywords[hu]=printcheck;kmymoney;
Keywords[it]=printcheck;kmymoney;
Keywords[kk]=printcheck;kmymoney;
Keywords[ko]=printcheck;kmymoney;수표발행;
Keywords[nl]=printcheck;kmymoney;
Keywords[pl]=czek;kmymoney;
Keywords[pt]=impressão;cheques;kmymoney;
Keywords[pt_BR]=impressão de cheques;kmymoney;
Keywords[ro]=tipărește;cec;kmymoney;
Keywords[ru]=printcheck;kmymoney;чеки;
Keywords[sk]=printcheck;kmymoney;
Keywords[sv]=checkutskrift;kmymoney;
Keywords[tr]=printcheck;kmymoney;
Keywords[uk]=printcheck;kmymoney;надрукувати;чек;
Keywords[zh_TW]=printcheck;kmymoney;
X-KDE-Library=kcm_kmm_printcheck
X-KDE-ParentApp=Print check
X-KDE-ParentComponents=Print check
Comment=Permits the configuration of the print check plugin's options
Comment[bs]=Dopušta konfiguraciju opcija dodatka za štampanje čekva
Comment[ca]=Permet la configuració de les opcions del connector d'impressió de xecs
Comment[ca@valencia]=Permet la configuració de les opcions del connector d'impressió de xecs
Comment[da]=Muliggør konfiguration af indstillingerne til pluginet til udskrift af checks
Comment[de]=Erlaubt die Konfiguration des Moduls zum Drucken von Schecks
Comment[el]=Επιτρέπει την ρύθμιση επιλογών του πρόσθετου εκτύπωσης επιταγών
Comment[en_GB]=Permits the configuration of the print cheque plugin's options
Comment[es]=Permite la configuración de las opciones del complemento de impresión de cheques
Comment[et]=Tšeki trükkimise plugina valikute seadistamise lubamine
Comment[eu]=Aukera ematen du txekeak inprimatzeko pluginaren aukerak konfiguratzeko
Comment[fi]=Sallii tulosta shekki - asetuksen liitännäisen valitsimet
Comment[fr]=Permet la configuration des options du module externe pour l'impression de chèques
Comment[gl]=Permite a configuración das opcións do complemento para imprimir cheques
Comment[hu]=Engedélyezi a nyomtatás-ellenőrző bővítmény beállításainak módosítását
Comment[it]=Consente la configurazione delle opzioni dell'estensione di stampa assegni
Comment[kk]=Чек басып шығару плагинін параметрлерін баптауын рұқсат ету
Comment[ko]=수표 발행 플러그인의 옵션 설정 허용
Comment[nds]=Optschonen för dat Scheckdruckmoduul instellen
Comment[nl]=Stelt in staat om opties voor de plugin voor het afdrukken van een check in te stellen
Comment[pl]=Umożliwia ustawienie wtyczki wydruku czeku
Comment[pt]=Permite a configuração das opções do 'plugin' de impressão de cheques
Comment[pt_BR]=Permite a configuração das opções do plugin de impressão de cheques
Comment[ro]=Permite configurarea modulului pentru tipărirea cecurilor
Comment[ru]=Настройка модуля печати чеков
Comment[sk]=Umožní nastavenie možností pluginu tlače šekov
Comment[sv]=Möjliggör inställning av alternativ för insticksprogrammet för utskrift av checkar
Comment[tr]=Çek yazdırma eklentisinin seçeneklerinin yapılandırılmasına izin verir
Comment[uk]=Надає змогу налаштовувати параметри додатка друку чеків
Comment[zh_TW]=允許列印支票外掛程式的設定選項
