[Desktop Entry]
Name=Print check
Name[bs]=Provjera štampe
Name[ca]=Imprimeix el xec
Name[ca@valencia]=Imprimeix el xec
Name[cs]=Vytisknout šek
Name[da]=Udskriv check
Name[de]=Schecks drucken
Name[el]=Εκτύπωση επιταγής
Name[en_GB]=Print cheque
Name[es]=Imprimir cheque
Name[et]=Tšeki trükkimine
Name[eu]=Inprimatu txekea
Name[fi]=Tulosta shekki
Name[fr]=Imprimer un chèque
Name[gl]=Imprimir cheque
Name[hu]=Nyomtatás-ellenőrzés
Name[it]=Stampa assegno
Name[kk]=Чекті басып шығару
Name[ko]=수표 발행
Name[mr]=चेक छापा
Name[nds]=Scheck drucken
Name[nl]=Cheque afdrukken
Name[pl]=Drukowanie czeków
Name[pt]=Imprimir um cheque
Name[pt_BR]=Impressão de cheques
Name[ro]=Tipărește un cec
Name[ru]=Печать чеков
Name[sk]=Tlačiť šek
Name[sv]=Skriv ut check
Name[tr]=Çek yazdır
Name[uk]=Надрукувати чек
Name[x-test]=xxPrint checkxx
Name[zh_CN]=打印支票
Name[zh_TW]=列印支票
Comment=Provides the capability to print checks
Comment[bs]=Daje mogućnost štampanja čekova
Comment[ca]=Aporta la capacitat d'imprimir xecs
Comment[ca@valencia]=Aporta la capacitat d'imprimir xecs
Comment[da]=Giver mulighed for at udskrive checks
Comment[de]=Stellt die Möglichkeit bereit, Schecks zu drucken
Comment[el]=Παρέχει την δυνατότητα εκτύπωσης επιταγών
Comment[en_GB]=Provides the capability to print cheques
Comment[es]=Proporciona la capacidad de imprimir cheques
Comment[et]=Tšekkide trükkimise võimaldamine
Comment[eu]=Txekeak inprimatzeko gaitasuna ematen du
Comment[fi]=Tarjoaa kyvyn tulostaa shekkejä
Comment[fr]=Fournit la possibilité d'imprimer des chèques
Comment[gl]=Fornece a capacidade de imprimir cheques
Comment[hu]=Biztosítja a nyomtatás-ellenőrzés képességet
Comment[it]=Fornisce la capacità di stampare assegni
Comment[kk]=Чекті басып шығару мүмкіндігін қосу
Comment[ko]=수표 발행 기능 제공
Comment[nds]=Stellt Scheckdruck praat
Comment[nl]=Levert de mogelijkheid checks af te drukken
Comment[pl]=Dostarcza możliwość drukowania czeków
Comment[pt]=Oferece a capacidade de impressão de cheques
Comment[pt_BR]=Fornece a capacidade de impressão de cheques
Comment[ro]=Permite tipărirea cecurilor din KMyMoney
Comment[ru]=Печать чеков
Comment[sk]=Poskytuje možnosť tlačiť účty
Comment[sv]=Tillhandahåller möjlighet att skriva ut checkar
Comment[tr]=Çek yazdırmak yeteneği sağlar
Comment[uk]=Надає змогу друкувати чеки
Comment[x-test]=xxProvides the capability to print checksxx
Comment[zh_TW]=提供列印支票的功能
Type=Service
Icon=document-print
ServiceTypes=KMyMoneyPlugin
X-KDE-Library=kmm_printcheck
X-KDE-PluginInfo-Author=Cristian Oneț
X-KDE-PluginInfo-Email=onet.cristian@gmail.com
X-KDE-PluginInfo-Name=Print check
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney.org/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
