<!DOCTYPE kpartgui>
<kpartgui name="kmymoney-plugins-printcheck" version="3">
  <MenuBar>
    <Menu name="transaction">
      <Action name="transaction_printcheck"/>
    </Menu>
  </MenuBar>
  <Menu name="transaction_context_menu">
    <Action name="transaction_printcheck"/>
  </Menu>
</kpartgui>
