[Desktop Entry]
Name=Print check
Name[nl]=Cheque afdrukken
Name[pt]=Imprimir um cheque
Name[sk]=Tlačiť šek
Name[uk]=Надрукувати чек
Name[x-test]=xxPrint checkxx
Comment=Provides the capability to print checks
Comment[nl]=Levert de mogelijkheid checks af te drukken
Comment[pt]=Oferece a capacidade de impressão de cheques
Comment[sk]=Poskytuje možnosť tlačiť účty
Comment[uk]=Надає змогу друкувати чеки
Comment[x-test]=xxProvides the capability to print checksxx
Type=Service
Icon=document-print
ServiceTypes=KMyMoneyPlugin
X-KDE-Library=kmm_printcheck
X-KDE-PluginInfo-Author=Cristian Oneț
X-KDE-PluginInfo-Email=onet.cristian@gmail.com
X-KDE-PluginInfo-Name=Print check
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney.org/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
