[Desktop Entry]
Name=Print check
Comment=Provides the capability to print checks
Type=Service
Icon=document-print
ServiceTypes=KMyMoneyPlugin
X-KDE-Library=kmm_printcheck
X-KDE-PluginInfo-Author=Cristian Oneț
X-KDE-PluginInfo-Email=onet.cristian@gmail.com
X-KDE-PluginInfo-Name=Print check
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney.org/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
