[Desktop Entry]
Name=KMyMoney developer handbook
Name[es]=Manual para desarrolladores de KMyMoney
Name[it]=Manuale dello sviluppatore di KMyMoney
Name[pt]=Manual de desenvolvimento do KMyMoney
Name[pt_BR]=Manual do desenvolvedor do KMyMoney
Name[sv]=KMyMoney utvecklarhandbok
Name[uk]=Підручник для розробників KMyMoney
Name[x-test]=xxKMyMoney developer handbookxx
Icon=kmymoney
Exec=kmymoney
Categories=Qt;KDE;Office;ProjectManagement;
X-DocPath=kmymoney-developer/index.html
NoDisplay=true
Terminal=false
Type=Application
