[Desktop Entry]
Name=KMyMoney developer handbook
Icon=kmymoney
Exec=kmymoney
Categories=Qt;KDE;Office;ProjectManagement;
X-DocPath=kmymoney-developer/index.html
NoDisplay=true
Terminal=false
Type=Application
