[Desktop Entry]
Name=KMyMoney developer handbook
Name[bs]=KMyMoney finansijski priručnik
Name[ca]=Manual del desenvolupador de KMyMoney
Name[ca@valencia]=Manual del desenvolupador de KMyMoney
Name[da]=KMyMoney udviklerhåndbog
Name[de]=KMyMoney-Entwicklerhandbuch
Name[el]=Το εγχειρίδιο του προγραμματιστή του KMyMoney
Name[en_GB]=KMyMoney developer handbook
Name[es]=Manual para desarrolladores de KMyMoney
Name[et]=KMyMoney arendaja käsiraamat
Name[eu]=KMyMoney-ren garatzaileen eskuliburua
Name[fi]=KMyMoney kehittäjän käsikirja
Name[fr]=Manuel du développeur de KMyMoney
Name[gl]=Manual do programador de KMyMoney
Name[hu]=KMyMoney fejlesztői kézikönyv
Name[it]=Manuale dello sviluppatore di KMyMoney
Name[kk]=KMyMoney құрастырушысының анықтамасы
Name[ko]=KMyMoney 개발자 도움말
Name[mr]=के-माय-मनी विकासकर्ता पुस्तिका
Name[nds]=Programmschriever-Handbook för KMyMoney
Name[nl]=Handleiding voor de ontwikkelaar van KMyMoney
Name[pl]=Podręcznik programisty KMyMoney
Name[pt]=Manual de desenvolvimento do KMyMoney
Name[pt_BR]=Manual do desenvolvedor do KMyMoney
Name[ro]=Manualul dezvoltatorilor KMyMoney
Name[ru]=Руководство разработчика KMyMoney
Name[sk]=Vývojárska príručka KMyMoney
Name[sv]=KMyMoney utvecklarhandbok
Name[tr]=KMyMoney geliştirici el kitabı
Name[uk]=Підручник для розробників KMyMoney
Name[x-test]=xxKMyMoney developer handbookxx
Name[zh_CN]=KMyMoney 开发者手册
Name[zh_TW]=KMyMoney 開發者手冊
Icon=kmymoney
Exec=kmymoney
Categories=Qt;KDE;Office;ProjectManagement;
X-DocPath=kmymoney-developer/index.html
NoDisplay=true
Terminal=false
Type=Application
