[Desktop Entry]
Name=Forecast view configuration
Name[ca]=Configuració de la vista de pronòstic
Name[ca@valencia]=Configuració de la vista de pronòstic
Name[de]=Einrichtung der Vorhersageansicht
Name[en_GB]=Forecast view configuration
Name[es]=Configuración del visor de pronósticos
Name[eu]=Eguraldi ikuspegiaren konfigurazioa
Name[fi]=Ennustenäkymän asetukset
Name[fr]=Configuration de la vue Prévisions
Name[gl]=Configuración da vista de previsión
Name[it]=Configurazione della vista delle previsioni
Name[nl]=Configuratie van begrotingsweergave
Name[pl]=Ustawienia widoku prognoz
Name[pt]=Configuração da área de Previsão
Name[pt_BR]=Configuração da área de visualização
Name[sv]=Inställning av prognosvy
Name[uk]=Налаштування перегляду прогнозів
Name[x-test]=xxForecast view configurationxx
Icon=forecast
Type=Service
ServiceTypes=KCModule
Exec=kcmshell5 forecastview
Categories=Qt;KDE;kmymoney;
Keywords=forecastview;kmymoney;
Keywords[ca]=vista de pronòstic;kmymoney;
Keywords[ca@valencia]=vista de pronòstic;kmymoney;
Keywords[de]=vorhersageansicht;forecastview;kmymoney;
Keywords[en_GB]=forecastview;kmymoney;
Keywords[es]=forecastview;kmymoney;
Keywords[eu]=iragarpenikuspegia;forecastview;kmymoney;
Keywords[fi]=ennustenäkymä;kmymoney;
Keywords[fr]=forecastview;kmymoney;
Keywords[gl]=vista de previsión;kmymoney;
Keywords[it]=forecastview;kmymoney;
Keywords[nl]=begrotingsweergave;kmymoney;
Keywords[pl]=widok prognozy;kmymoney;
Keywords[pt]=área de previsão;kmymoney;
Keywords[pt_BR]=visualização;previsão;kmymoney;
Keywords[sv]=prognosvy;kmymoney;
Keywords[uk]=forecastview;kmymoney;прогноз;перегляд;кмаймані;
Keywords[x-test]=xxforecastviewxx;xxkmymoneyxx;
X-KDE-Library=kmymoney/kcm_forecastview
X-KDE-ParentApp=forecastview
X-KDE-ParentComponents=forecastview
Comment=Configuration for forecast view plugin
Comment[ca]=Configuració del connector de vista de pronòstic
Comment[ca@valencia]=Configuració del connector de vista de pronòstic
Comment[de]=Einrichtung für das Modul Vorhersageansicht
Comment[en_GB]=Configuration for forecast view plugin
Comment[es]=Configuración para el complemento del visor de pronósticos
Comment[eu]=Eguraldi ikuspegiaren plugin konfigurazioa
Comment[fi]=Ennustenäkymäliitännäisen asetukset
Comment[fr]=Configuration du module externe de la vue Prévisions
Comment[gl]=Configuración do complemento da vista de previsión.
Comment[it]=Configurazione dell'estensione di visualizzazione delle previsioni
Comment[nl]=Configuratie voor plug-in voor prognose
Comment[pl]=Ustawienia dla wtyczki prognozy
Comment[pt]=Configuração do 'plugin' da área de previsão
Comment[pt_BR]=Configuração do plugin da área de visualização
Comment[sv]=Anpassa insticksprogram för prognosvy
Comment[uk]=Налаштування додатка перегляду прогнозів
Comment[x-test]=xxConfiguration for forecast view pluginxx
