[Desktop Entry]
Name=Reports view configuration
Name[ca]=Configuració de la vista d'informes
Name[ca@valencia]=Configuració de la vista d'informes
Name[en_GB]=Reports view configuration
Name[it]=Configurazione della vista dei report
Name[nl]=Configuratie van rapportenweergave
Name[pt]=Configuração da área de relatórios
Name[sv]=Inställning av rapportvy
Name[uk]=Налаштування перегляду звітів
Name[x-test]=xxReports view configurationxx
Icon=report
Type=Service
ServiceTypes=KCModule
Exec=kcmshell5 reportsview
Categories=Qt;KDE;kmymoney;
Keywords=reportsview;kmymoney;
Keywords[ca]=vista d'informes;kmymoney;
Keywords[ca@valencia]=vista d'informes;kmymoney;
Keywords[en_GB]=reportsview;kmymoney;
Keywords[it]=reportsview;kmymoney;
Keywords[nl]=rapportenweergave;kmymoney;
Keywords[pt]=área de relatórios;kmymoney;
Keywords[sv]=rapportvy;kmymoney;
Keywords[uk]=reportsview;kmymoney;звіти;перегляд;кмаймані;
Keywords[x-test]=xxreportsviewxx;xxkmymoneyxx;
X-KDE-Library=kmymoney/kcm_reportsview
X-KDE-ParentApp=reportsview
X-KDE-ParentComponents=reportsview
Comment=Configuration for reports view plugin
Comment[ca]=Configuració del connector de la vista d'informes
Comment[ca@valencia]=Configuració del connector de la vista d'informes
Comment[en_GB]=Configuration for reports view plugin
Comment[it]=Configurazione dell'estensione di visualizzazione dei report
Comment[nl]=Configuratie voor plug-in voor rapportenweergave
Comment[pt]=Configuração do 'plugin' da área de relatórios
Comment[sv]=Anpassa insticksprogram för rapportvy
Comment[uk]=Налаштування додатка перегляду звітів
Comment[x-test]=xxConfiguration for reports view pluginxx
