[Desktop Entry]
Encoding=UTF-8
Name=Reconciliation report
Name[da]=Forligsrapport
Name[en_GB]=Reconciliation report
Name[pt]=Relatório de reconciliação
Name[pt_BR]=Relatório de reconciliação
Name[sv]=Avstämningsrapport
Name[tr]=Uzlaştırma raporu
Name[uk]=Звіт щодо звірки
Name[x-test]=xxReconciliation reportxx
Comment=Creates a report after each reconciliation containing data about the reconciliation process
Comment[da]=Opretter en rapport efter hvert forlig som indeholder data om forligsprocessen
Comment[en_GB]=Creates a report after each reconciliation containing data about the reconciliation process
Comment[pt]=Cria um relatório depois de cada reconciliação, contendo os dados do processo em questão
Comment[pt_BR]=Cria um relatório depois de cada reconciliação, contendo os dados do processo em questão
Comment[sv]=Skapar en rapport efter varje avstämning som innehåller information om avstämningsprocessen
Comment[uk]=Створює звіт після кожної звірки з даними щодо процесу звірки
Comment[x-test]=xxCreates a report after each reconciliation containing data about the reconciliation processxx
Type=Service
Icon=application-vnd.oasis.opendocument.spreadsheet
ServiceTypes=KMyMoneyPlugin
X-KDE-Library=kmm_reconciliationreport
X-KDE-PluginInfo-Author=Cristian Oneț
X-KDE-PluginInfo-Email=onet.cristian@gmail.com
X-KDE-PluginInfo-Name=Reconciliation report
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}-${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney2.sourceforge.net/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
