[Desktop Entry]
Name=Reconciliation report
Name[bs]=Izvještaj o usaglašavanju
Name[ca]=Informe de conciliació
Name[ca@valencia]=Informe de conciliació
Name[cs]=Hlášení rozvahy
Name[da]=Afstemningsrapport
Name[de]=Abgleichbericht
Name[el]=Αναφορά διευθέτησης
Name[en_GB]=Reconciliation report
Name[es]=Informe de conciliación
Name[et]=Kooskõlastamisaruanne
Name[eu]=Berdinkatze-txostena
Name[fi]=Täsmäytysraportti
Name[fr]=Rapport de consolidation
Name[gl]=Informe de conciliación
Name[hu]=Egyeztetés jelentés
Name[it]=Report di riconciliazione
Name[kk]=Салыстырып тексеру
Name[ko]=조정명세서
Name[nds]=Bericht
Name[nl]=Rapport over transactiecontrole
Name[pl]=Sprawozdanie uzgadniania
Name[pt]=Relatório de reconciliação
Name[pt_BR]=Relatório de reconciliação
Name[ro]=Raport de reconciliere
Name[ru]=Отчёт по сверке
Name[sk]=Zrovnávacia správa
Name[sv]=Avstämningsrapport
Name[tr]=Uzlaşma raporu
Name[uk]=Звіт щодо звірки
Name[zh_CN]=对帐报告
Name[zh_TW]=對帳報告
Comment=Creates a report after each reconciliation containing data about the reconciliation process
Comment[bs]=Kreira izvještaj nakon svakog usaglašavanja s podacima o procesu usaglašavanja
Comment[ca]=Crea un informe després de cada conciliació amb les dades sobre el procés de conciliació
Comment[ca@valencia]=Crea un informe després de cada conciliació amb les dades sobre el procés de conciliació
Comment[da]=Opretter en rapport efter hver afstemning som indeholder data om afstemningsprocessen
Comment[de]=Erstellt nach jedem Abgleich einen Bericht, der Daten über den Abgleich-Prozess enthält
Comment[el]=Δημιουργεί μια αναφορά έπειτα από κάθε συμφωνία η οποία περιέχει δεδομένα σχετικά με την διεργασία της συμφωνίας
Comment[en_GB]=Creates a report after each reconciliation containing data about the reconciliation process
Comment[es]=Crea un informe tras cada conciliación que contiene datos sobre el proceso de conciliación.
Comment[et]=Kooskõlastamisandmeid sisaldava aruande loomine pärast iga kooskõlastamist.
Comment[eu]=Txosten bat sortzen du berdinkatze bakoitzaren ondoren, berdinkatze-prozesuari buruzko datuakin
Comment[fi]=Luo raportin jokaisen täsmäytyksen jälkeen sisältäen tietoja täsmäytysprosessista
Comment[fr]=Crée un rapport après chaque consolidation contenant des données sur le processus de consolidation
Comment[gl]=Crea despois de cada conciliación un informe que contén os datos relativos a esta
Comment[hu]=Jelentést készít, miután minden egyeztetés tartalmaz adatot az egyeztetési folyamatról
Comment[it]=Crea un report dopo ogni riconciliazione che contiene dati relativi al processo di riconciliazione
Comment[kk]=Әрбір салыстырып тексеруден кейін ол туралы баяндау
Comment[ko]=각각 조정 이후 조정 절차 정보가 있는 보고서를 생성합니다
Comment[nds]=Stellt na elk Afgliek en Bericht över mit de Afgliekdaten op
Comment[nl]=Maakt een rapport aan na elke transactiecontrole met gegevens over het controleproces
Comment[pl]=Tworzy sprawozdanie, po każdym uzgodnieniu, zawierające dane o procesie uzgadniania
Comment[pt]=Cria um relatório, a seguir a cada reconciliação, que contém os dados do processo de reconciliação
Comment[pt_BR]=Cria um relatório que contém os dados de cada processo de reconciliação
Comment[ro]=Creează un raport după fiecare reconciliere conținând date relevante despre procesul de reconciliere.
Comment[ru]=Создание отчёта выполнения каждой сверки
Comment[sk]=Vytvorí report po každom zrovnaní obsahujúcom dáta o procese zrovnania
Comment[sv]=Skapar en rapport efter varje avstämning som innehåller information om avstämningsprocessen
Comment[tr]=Uzlaşma süreci hakkında bilgileri içeren her uzlaşma sonrası bir rapor oluşturur
Comment[uk]=Створює звіт після кожної звірки з даними щодо процесу звірки
Comment[zh_TW]=在對帳後產生報告，包含對帳程序的資料
Type=Service
Icon=application-vnd.oasis.opendocument.spreadsheet
ServiceTypes=KMyMoneyPlugin
X-KDE-Library=kmm_reconciliationreport
X-KDE-PluginInfo-Author=Cristian Oneț
X-KDE-PluginInfo-Email=onet.cristian@gmail.com
X-KDE-PluginInfo-Name=Reconciliation report
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney.org/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
