[Desktop Entry]
Encoding=UTF-8
Name=Reconciliation report
Name[da]=Afstemningsrapport
Name[de]=Abgleichbericht
Name[en_GB]=Reconciliation report
Name[es]=Informe de conciliación
Name[eu]=Berdinkatze txostena
Name[fr]=Rapport de consolidation
Name[it]=Report di riconciliazione
Name[nds]=Bericht
Name[nl]=Rapport over transactiecontrole
Name[pt]=Relatório de reconciliação
Name[pt_BR]=Relatório de reconciliação
Name[sv]=Avstämningsrapport
Name[uk]=Звіт щодо звірки
Name[x-test]=xxReconciliation reportxx
Comment=Creates a report after each reconciliation containing data about the reconciliation process
Comment[da]=Opretter en rapport efter hver afstemning som indeholder data om afstemningsprocessen
Comment[de]=Erstellt nach jedem Abgleich einen Bericht, der Daten über den Abgleich-Prozess enthält
Comment[en_GB]=Creates a report after each reconciliation containing data about the reconciliation process
Comment[es]=Crea un informe tras cada conciliación que contiene datos sobre el proceso de conciliación.
Comment[eu]=Berdinkatze bakoitzaren ondoren txosten bat sortzen du berdikatze prozesuari buruzko datuekin
Comment[fr]=Crée un rapport après chaque consolidation contenant le données sur le processus de consolidation
Comment[it]=Crea un report dopo ogni riconciliazione che contiene dati relativi al processo di riconciliazione
Comment[nl]=Maakt een rapport aan na elke transactiecontrole met gegevens over het controleproces
Comment[pt]=Cria um relatório, a seguir a cada reconciliação, que contém os dados do processo de reconciliação
Comment[pt_BR]=Cria um relatório após cada reconciliação que contém dados sobre o processo de reconciliação
Comment[sv]=Skapar en rapport efter varje avstämning som innehåller information om avstämningsprocessen
Comment[uk]=Створює звіт після кожної звірки з даними щодо процесу звірки
Comment[x-test]=xxCreates a report after each reconciliation containing data about the reconciliation processxx
Type=Service
Icon=application-vnd.oasis.opendocument.spreadsheet
ServiceTypes=KMyMoneyPlugin
X-KDE-Library=kmm_reconciliationreport
X-KDE-PluginInfo-Author=Cristian Oneț
X-KDE-PluginInfo-Email=onet.cristian@gmail.com
X-KDE-PluginInfo-Name=Reconciliation report
X-KDE-PluginInfo-Version=${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}${VERSION_SUFFIX}
X-KDE-PluginInfo-Website=http://kmymoney.org/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
